<div class="text-white footer-section bg-gray-900">
  <!-- Header Section -->
  <header class="flex justify-center items-center border-b-2 border-gray-700">
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-8 w-full lg:max-w-6xl">
      <div
        class="footer-head flex items-center gap-5 py-10 justify-center md:justify-start border-gray-700"
      >
        <i
          class="pi pi-map-marker p-3 border rounded-full border-gray-500 bg-gray-800"
          style="color: #ffffff; font-size: 1rem"
        ></i>
        <div>
          <p class="text-secondary">Địa chỉ:</p>
          <h6 class="font-semibold text-lg">180 Cao nỗ</h6>
        </div>
      </div>
      <div
        class="footer-head flex items-center justify-center gap-5 py-10 border-r-2 border-l-2 border-gray-700"
      >
        <i
          class="pi pi-phone p-3 border rounded-full border-gray-500 bg-gray-800"
          style="color: #ffffff; font-size: 1rem"
        ></i>
        <div>
          <p class="text-secondary">Đường dây nóng:</p>
          <h6 class="font-semibold text-lg">(+86) 123 456 789</h6>
        </div>
      </div>
      <div class="footer-head flex items-center gap-5 py-10 justify-center">
        <i
          class="pi pi-envelope p-3 border rounded-full border-gray-500 bg-gray-800"
          style="color: #ffffff; font-size: 1rem"
        ></i>
        <div>
          <p class="text-secondary">Địa chỉ email:</p>
          <h6 class="font-semibold text-lg">info&#64;student.stu.edu.vn</h6>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Section -->
  <main class="flex justify-center py-10">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-center md:text-left gap-8 w-full max-w-6xl"
    >
      <!-- Logo and Description -->
      <div class="space-y-4 footer-item">
        <div
          class="flex items-center space-x-2 justify-center md:justify-start"
        >
          <svg
            class="w-8 h-8 text-blue-500"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path d="M4 4h16v6H4V4zm0 8h16v6H4v-6z" />
          </svg>
          <h1 class="text-2xl font-bold">SmartLearn</h1>
        </div>
        <p class="text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat sint
          odit aperiam voluptatem voluptatum omnis cumque consequuntur nesciunt
          modi animi!
        </p>
        <div class="flex space-x-4 justify-center md:justify-start">
          <p-button
            icon="pi pi-facebook"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            class="text-lg"
            severity="info"
          />
          <p-button
            icon="pi pi-youtube"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            class="text-lg"
            severity="danger"
          />
          <p-button
            icon="pi pi-instagram"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            class="text-lg"
            severity="warn"
          />
          <p-button
            icon="pi pi-twitter"
            [rounded]="true"
            [text]="true"
            [raised]="true"
            class="text-lg"
            severity="secondary"
          />
        </div>
      </div>

      <!-- Services -->
      <div class="footer-item">
        <h2 class="text-lg font-semibold mb-4">Chủ đề nổi bật:</h2>
        <ul class="space-y-2 text-gray-400">
          <li>» Web Development</li>
          <li>» UI/UX Design</li>
          <li>» Management</li>
          <li>» Digital Marketing</li>
          <li>» Blog News</li>
        </ul>
      </div>

      <!-- Gallery -->
      <div class="footer-item">
        <h2 class="text-lg font-semibold mb-4">Thư viện ảnh</h2>
        <div class="card flex justify-center">
          <div
            class="grid grid-cols-12 gap-2 pb-6 pr-6"
            style="max-width: 800px"
          >
            <div class="col-span-4 rounded-md overflow-hidden" key="index">
              <img src="teacher_avatar2.png" style="cursor: pointer" />
            </div>
            <div class="col-span-4 rounded-md overflow-hidden" key="index">
              <img src="teacher_avatar2.png" style="cursor: pointer" />
            </div>
            <div class="col-span-4 rounded-md overflow-hidden" key="index">
              <img src="teacher_avatar2.png" style="cursor: pointer" />
            </div>
            <div class="col-span-4 rounded-md overflow-hidden" key="index">
              <img src="teacher_avatar2.png" style="cursor: pointer" />
            </div>
            <div class="col-span-4 rounded-md overflow-hidden" key="index">
              <img src="teacher_avatar2.png" style="cursor: pointer" />
            </div>
            <div class="col-span-4 rounded-md overflow-hidden" key="index">
              <img src="teacher_avatar2.png" style="cursor: pointer" />
            </div>
          </div>
        </div>
      </div>

      <!-- Subscribe -->
      <div class="footer-item p-6 md:p-0">
        <h2 class="text-lg font-semibold mb-4">Đăng ký nhận thông báo</h2>
        <input
          type="email"
          placeholder="Nhập địa chỉ email:"
          class="w-full p-2 mb-4 bg-gray-700 text-white"
        />
        <button
          class="w-full bg-primary text-white py-2 rounded hover:bg-secondary transition duration-300 font-semibold"
        >
          ĐĂNG KÝ NGAY
        </button>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer
    class="text-center py-4 text-gray-500 border-t border-gray-700 bg-gray-800"
  >
    <p class="footer-copyright">
      Bản quyền © 2025 SmartLearn || Trần Quí Kiệt_Phạm Minh Trị
    </p>
  </footer>
</div>
