<main
  class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-10 md:gap-20 rounded-md bg-gradient-to-r from-[#f3e7e1] to-[#d9f0f0]"
>
  <div class="mt-24 bg-white w-full h-full p-6">
    <p-toast></p-toast>
    <form
      [formGroup]="profileForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <div class="flex items-center justify-between gap-5">
        <div class="flex items-center gap-5">
          <p-avatar
            [image]="avatarPreview || user?.avatar"
            size="xlarge"
            shape="circle"
          />
          <div>
            <span class="font-bold text-lg">{{ user?.username }}</span>
            <p class="text-gray-500 text-sm">
              {{ user?.email }}
            </p>
          </div>
        </div>
        <div>
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="2000000"
            chooseLabel="Upload"
            (onSelect)="onFileSelect($event)"
            [auto]="true"
            [customUpload]="true"
            invalidFileSizeMessageSummary="The file is too large. "
            invalidFileSizeMessageDetail="The maximum size is 2MB."
          />
          <!-- <input type="file" (change)="onFileSelect($event)" /> -->
        </div>
      </div>
      <div class="pt-6">
        <div class="flex justify-between w-full gap-10">
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element
              label="Username"
              [control]="profileForm.get('username')!"
              [required]="true"
            >
              <input
                pInputText
                class="text-sm w-full px-4 py-3 rounded-md"
                formControlName="username"
                placeholder="Enter username"
                required
              />
            </app-form-element>
          </div>
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element
              label="Birthdate"
              [control]="profileForm.get('birthdate')!"
            >
              <p-datepicker
                formControlName="birthdate"
                [showIcon]="true"
                placeholder="YYYY-MM-DD"
              />
            </app-form-element>
          </div>
        </div>
        <div class="flex justify-between w-full gap-10">
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element [label]="'Educational background'">
              <p-select
                [options]="LoE"
                formControlName="LoE_DI"
                optionLabel="name"
                optionValue="value"
                class="w-full"
              />
            </app-form-element>
          </div>
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element label="Gender">
              <p-select
                [options]="genderOptions"
                formControlName="gender"
                placeholder="Choice gender"
                optionLabel="label"
                optionValue="value"
                class="w-full"
              />
            </app-form-element>
          </div>
        </div>
        <div class="flex justify-between w-full gap-10">
          <!-- <div
            class="flex flex-col gap-2 w-full py-2"
            *ngIf="user?.role === 'student'"
          >
            <app-form-element label="Danh mục quan tâm">
              <p-multiSelect
                [options]="categories"
                formControlName="category_ids"
                placeholder="Chọn danh mục"
                optionLabel="label"
                optionValue="value"
                class="w-full"
              />
            </app-form-element>
            <app-form-element [label]="'Danh mục bạn quan tâm'">
              <div class="flex flex-wrap gap-3">
                <div *ngFor="let cat of categories">
                  <p-checkbox
                    [inputId]="'cat' + cat.id"
                    [value]="cat.id"
                    formControlName="category_ids"
                  />
                  <label for="{{ 'cat' + cat.id }}" class="ml-2">
                    {{ cat.name }}
                  </label>
                </div>
              </div>
            </app-form-element>
          </div> -->
        </div>
        <div *ngIf="user?.role === 'instructor'">
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element label="Bio" [control]="profileForm.get('bio')!">
              <textarea
                pInputTextarea
                class="w-full"
                formControlName="bio"
                placeholder="Enter bio"
                rows="4"
              ></textarea>
            </app-form-element>
          </div>
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element
              label="Organization"
              [control]="profileForm.get('organization')!"
            >
              <input
                pInputText
                class="text-sm w-full px-4 py-3 rounded-md"
                formControlName="organization"
                placeholder="Enter organization"
              />
            </app-form-element>
          </div>
          <div class="flex flex-col gap-2 w-full py-2">
            <app-form-element
              label="Instructor Fullname"
              [control]="profileForm.get('name')!"
            >
              <input
                pInputText
                class="text-sm w-full px-4 py-3 rounded-md"
                formControlName="name"
                placeholder="Enter fullname"
              />
            </app-form-element>
          </div>
        </div>
        <div class="flex justify-end gap-2 mt-4">
          <p-button label="Hủy" severity="secondary" (onClick)="resetForm()" />
          <p-button
            label="Save"
            type="submit"
            [disabled]="profileForm.invalid || isSubmitting"
          />
        </div>
      </div>
    </form>
    <p-divider />
    <!-- Password Change Section (Placeholder for Future Implementation) -->
    <div class="pt-6">
      <h3 class="text-xl font-bold pb-3">Change password</h3>
      <form [formGroup]="passwordForm" (ngSubmit)="onResetPassword()">
        <div class="flex flex-col gap-2 w-full py-2">
          <app-form-element [label]="'Current password'" [required]="true">
            <p-password
              [toggleMask]="true"
              [feedback]="false"
              placeholder="Enter password"
            />
          </app-form-element>
        </div>
        <div class="flex flex-col gap-2 w-full py-2">
          <app-form-element [label]="'New password'" [required]="true">
            <p-password
              [toggleMask]="true"
              placeholder="Enter new password"
              promptLabel="Enter new password"
              weakLabel="Weak security"
              mediumLabel="Normal"
              strongLabel="Good"
            />
          </app-form-element>
        </div>
        <div class="flex flex-col gap-2 w-full py-2">
          <app-form-element [label]="'New password'" [required]="true">
            <p-password
              [toggleMask]="true"
              placeholder="Enter new password"
              promptLabel="Enter new password"
              weakLabel="Weak security"
              mediumLabel="Normal"
              strongLabel="Good"
            />
          </app-form-element>
        </div>
        <div class="flex justify-end gap-2 mt-4">
          <p-button
            label="Cancel"
            severity="secondary"
            (onClick)="resetPasswordForm()"
          />
          <p-button
            label="Reset password"
            type="submit"
            [disabled]="passwordForm.invalid || isPasswordSubmitting"
          />
        </div>
      </form>
    </div>
    <p-divider />
    <!-- Account Deletion Section (Placeholder for Future Implementation) -->
    <div class="pt-6">
      <h3 class="text-xl font-bold pb-3">Delete account</h3>
      <p>The account deletion feature will be implemented later.</p>
    </div>
  </div>
</main>
