<!-- Lessons Table -->
<p-table
  [value]="lessons"
  [rowHover]="true"
  dataKey="id"
  [loading]="isLoading"
  [globalFilterFields]="['title']"
  #dt
>
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between py-2">
      <div class="flex gap-5 items-center flex-wrap">
        <p class="m-0 lg:text-lg font-semibold text-gray-800">
          List of lessons for course ID: {{ courseId }}
        </p>
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            class="lg:w-96"
            (input)="onFilter($event, dt)"
            placeholder="Enter lesson title"
          />
        </p-iconfield>
      </div>
      <button>
        <a [routerLink]="['/admin/course-manage']">
          <i class="pi pi-times mr-10"></i>
        </a>
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr class="text-sm bg-gray-100 text-gray-700">
      <th pSortableColumn="id">
        ID
        <p-sortIcon field="id" />
      </th>
      <th>Title</th>
      <th pSortableColumn="duration">
        Duration (minutes)<p-sortIcon field="duration" />
      </th>
      <th>Preview</th>
      <th pSortableColumn="sort_order">
        Sort Order<p-sortIcon field="sort_order" />
      </th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lesson>
    <tr class="text-sm hover:bg-gray-50 transition duration-200">
      <td class="text-gray-800">{{ lesson.id }}</td>
      <td
        class="text-gray-800 truncate"
        [pTooltip]="lesson.title"
        tooltipPosition="right"
      >
        {{ cutText(lesson.title, 5) }}
      </td>
      <td class="text-gray-800">
        {{ lesson.duration }}
      </td>
      <td>
        <i
          class="pi"
          [ngClass]="
            lesson.is_preview
              ? 'pi-check text-secondary'
              : 'pi-times text-primary'
          "
        ></i>
      </td>
      <td class="text-gray-800">{{ lesson.sort_order }}</td>
      <td class="">
        <p-tag
          [severity]="lesson.is_visible ? 'success' : 'contrast'"
          [value]="lesson.is_visible ? 'Yes' : 'No'"
          [rounded]="true"
          class="!text-xs"
        />
      </td>
      <td class="flex gap-2">
        <p-button
          (click)="viewVideo(lesson.video_url)"
          icon="pi pi-eye"
          [rounded]="true"
          [raised]="true"
          severity="help"
        />
        <!-- <p-button
          (click)="reviewLesson(lesson.id, 'approved')"
          icon="pi pi-check"
          [rounded]="true"
          [raised]="true"
          severity="success"
          [disabled]="lesson.status === 'approved'"
        />
        <p-button
          (click)="viewVideo(lesson.video_url)"
          icon="pi pi-times"
          [rounded]="true"
          [raised]="true"
          severity="danger"
        /> -->
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" class="text-center text-gray-500 py-4">
        No lessons awaiting approval.
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Video Preview Dialog -->
<p-dialog
  [(visible)]="showVideoDialog"
  [style]="{ width: '800px' }"
  header="View Lesson Video"
  [modal]="true"
  class="rounded-lg shadow-lg"
>
  <ng-template pTemplate="content">
    <div class="p-4">
      <video controls class="w-full h-auto rounded-lg" [src]="selectedVideoUrl">
        Your browser does not support video.
      </video>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Close"
      icon="pi pi-times"
      class="p-button-text text-gray-700 hover:bg-gray-100 transition duration-200"
      (click)="showVideoDialog = false"
    ></button>
  </ng-template>
</p-dialog>
