<main class="max-w-md mx-auto my-10 p-6 bg-white shadow-md rounded-lg">
  <p-toast></p-toast>
  <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
    Reset Password
  </h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="space-y-4">
      <app-form-element label="Email">
        <input
          pInputText
          type="email"
          formControlName="email"
          placeholder="Your email"
          class="w-full rounded-md !bg-gray-300"
          readonly
        />
      </app-form-element>
      <app-form-element
        label="New Password"
        [control]="resetPasswordForm.get('password')!"
        [required]="true"
      >
        <input
          pInputText
          type="password"
          formControlName="password"
          placeholder="Enter new password"
          class="w-full rounded-md"
        />
      </app-form-element>

      <app-form-element label="Confirm Password" [required]="true">
        <input
          pInputText
          type="password"
          formControlName="password_confirmation"
          placeholder="Confirm new password"
          class="w-full rounded-md"
        />
        <small
          *ngIf="resetPasswordForm.get('password_confirmation')?.touched && resetPasswordForm.get('password_confirmation')?.errors?.['required']"
          class="text-primary !text-xs"
        >
          Confirm Password is required
        </small>
        <small
          *ngIf="
                  resetPasswordForm.errors?.['passwordMismatch'] && resetPasswordForm.get('password_confirmation')?.touched && !resetPasswordForm.get('password_confirmation')?.errors?.['required']"
          class="text-primary !text-xs"
        >
          Passwords do not match
        </small>
      </app-form-element>

      <div class="flex justify-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (click)="cancel()"
          [disabled]="isSubmitting"
        />
        <p-button
          label="Reset Password"
          type="submit"
          [disabled]="resetPasswordForm.invalid || isSubmitting"
          [loading]="isSubmitting"
        />
      </div>
    </div>
  </form>
</main>
