<p-progressSpinner
  *ngIf="isLoading"
  class="flex justify-center"
></p-progressSpinner>
<div *ngIf="userData && !isLoading">
  <div class="flex justify-between gap-2">
    <div class="flex gap-2 items-center mb-4">
      <h6 class="text-xl font-bold">User Details</h6>
      <p-avatar
        *ngIf="userData"
        [image]="
          userData.user.avatar ||
          'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
        "
        shape="circle"
      />
    </div>
    <a [routerLink]="['/admin/user-manage']">
      <i class="pi pi-window-minimize"></i>
    </a>
  </div>

  <!-- User Data -->
  <div>
    <!-- User Information -->
    <p-card header="User Information" styleClass="!rounded-none mb-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
        <div><strong>ID:</strong> {{ userData.user.id }}</div>
        <div><strong>Username:</strong> {{ userData.user.username }}</div>
        <div><strong>Fullname:</strong> {{ userData.user.fullname }}</div>
        <div><strong>Email:</strong> {{ userData.user.email }}</div>
        <div>
          <strong>Birthdate:</strong> {{ userData.user.birthdate | date }}
        </div>
        <div><strong>Gender:</strong> {{ userData.user.gender }}</div>
        <div class="flex items-center gap-2">
          <strong>Role:</strong>
          <p-tag
            *ngIf="userData.user.role"
            [severity]="
              userData.user.role === 'admin'
                ? 'danger'
                : userData.user.role === 'student'
                ? 'success'
                : 'info'
            "
            [value]="userData.user.role"
            [rounded]="true"
            class="!text-xs"
          />
        </div>
        <div>
          <strong>Created At:</strong>
          <span>{{
            userData.user.created_at | date : "dd/MM/yyyy HH:mm"
          }}</span>
        </div>
        <div>
          <strong>Updated At:</strong>
          <span>{{
            userData.user.updated_at | date : "dd/MM/yyyy HH:mm"
          }}</span>
        </div>
      </div>
    </p-card>

    <!-- Student Information -->
    <p-card
      *ngIf="userData.user.student"
      header="Student Information"
      styleClass="!rounded-none mb-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
        <div><strong>Student ID:</strong> {{ userData.user.student.id }}</div>
        <div>
          <strong>Learning Goals:</strong>
          {{ userData.user.student.learning_goals }}
        </div>
        <div>
          <strong>Total courses completed:</strong>
          {{ userData.analytics.courses_completed }}
        </div>
        <div>
          <strong>Average raing given:</strong>
          {{ userData.analytics.average_rating_given || 0 | number }}
        </div>
        <div>
          <strong>Lesson completed rate:</strong>
          {{ userData.analytics.lesson_completion_rate || 0 | number }}
        </div>
        <div>
          <strong>Total payments made:</strong>
          {{ userData.analytics.total_payments_made || 0 | number }}$
        </div>
        <div>
          <strong>Created At:</strong>
          {{ userData.user.student.created_at | date : "dd/MM/yyyy HH:mm" }}
        </div>
        <div>
          <strong>Updated At:</strong>
          {{ userData.user.student.updated_at | date : "dd/MM/yyyy HH:mm" }}
        </div>
      </div>

      <div class="mt-4">
        <div class="flex gap-2 items-center">
          <strong>Categories of Interest:</strong>
          <div
            *ngIf="userData.user.student.categories.length === 0"
            class="text-gray-500"
          >
            No categories.
          </div>
          <div
            *ngIf="userData.user.student.categories.length > 0"
            class="flex flex-wrap gap-2"
          >
            <p-tag
              *ngFor="let category of userData.user.student.categories"
              severity="info"
              [value]="category.name"
              [rounded]="true"
              class="!text-xs"
            ></p-tag>
          </div>
        </div>
      </div>
    </p-card>

    <!-- Course Enrollments -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Course Enrollments"
      styleClass="!rounded-none mb-4"
    >
      <p-table
        [value]="userData.user.enrollments"
        class="!text-xs"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Status</th>
            <th>Enrolled At</th>
            <th>Completed At</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-enrollment>
          <tr>
            <td>{{ enrollment.id }}</td>
            <td>{{ enrollment.course_id }}</td>
            <td>{{ enrollment.status }}</td>
            <td>{{ enrollment.enrolled_at | date : "dd/MM/yyyy HH:mm" }}</td>
            <td>
              {{
                enrollment.completed_at
                  ? (enrollment.completed_at | date : "dd/MM/yyyy HH:mm")
                  : "Not Completed"
              }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center">No enrolled courses found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Payments -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Payments"
      styleClass="!rounded-none mb-4"
    >
      <div *ngIf="userData.user.payments.length === 0" class="text-center">
        No payments found.
      </div>
      <p-table
        *ngIf="userData.user.payments.length > 0"
        [value]="userData.user.payments"
        class="!text-xs"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Payment_date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
          <tr>
            <td>{{ payment.id }}</td>
            <td>
              <a
                [routerLink]="['/admin/course-manage', payment.course_id]"
                class="underline text-secondary text-xs"
              >
                {{ payment.course_id }}
              </a>
            </td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.status }}</td>
            <td>{{ payment.payment_date | date }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Lesson Progress -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Lesson Progress"
      styleClass="!rounded-none mb-4"
    >
      <p-table
        [value]="userData.user.lesson_progress"
        class="!text-xs"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Lesson ID</th>
            <th>Status</th>
            <th>Completed At</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-progress>
          <tr>
            <td>{{ progress.id }}</td>
            <td>{{ progress.lesson_id }}</td>
            <td>
              <div>
                <p-tag
                  *ngIf="progress.status === 'not_started'"
                  severity="warn"
                  value="Not Started"
                  [rounded]="true"
                  class="!text-xs"
                />
                <p-tag
                  *ngIf="progress.status === 'in_progress'"
                  severity="info"
                  class="!text-xs"
                  value="In Progress"
                  [rounded]="true"
                />
                <p-tag
                  *ngIf="progress.status === 'completed'"
                  severity="success"
                  class="!text-xs"
                  value="Completed"
                  [rounded]="true"
                />
              </div>
            </td>
            <td>
              {{
                progress.completed_at
                  ? (progress.completed_at | date : "dd/MM/yyyy HH:mm")
                  : "Not Completed"
              }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">No lesson progress found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Reviews -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Reviews"
      styleClass="!rounded-none mb-4"
    >
      <p-table
        [value]="userData.user.reviews"
        class="!text-xs"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Rating</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-review>
          <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.course_id }}</td>
            <td>{{ review.rating }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3" class="text-center">No reviews found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Quiz Results -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Quiz Results"
      styleClass="!rounded-none mb-4"
    >
      <p-table
        class="!text-xs"
        [value]="userData.user.quiz_results"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Quiz ID</th>
            <th>Score</th>
            <th>Attempt Number</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quiz>
          <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.quiz_id }}</td>
            <td>
              <div>
                <p-tag
                  *ngIf="quiz.score >= 0 && quiz.score <= 50"
                  severity="error"
                  [value]="quiz.score"
                  [rounded]="true"
                  class="!text-xs"
                />
                <p-tag
                  *ngIf="quiz.score > 50 && quiz.score <= 65"
                  severity="warn"
                  [value]="quiz.score"
                  [rounded]="true"
                  class="!text-xs"
                />
                <p-tag
                  *ngIf="quiz.score > 65 && quiz.score < 80"
                  severity="info"
                  class="!text-xs"
                  [value]="quiz.score"
                  [rounded]="true"
                />
                <p-tag
                  *ngIf="quiz.score > 80"
                  severity="success"
                  class="!text-xs"
                  [value]="quiz.score"
                  [rounded]="true"
                />
              </div>
            </td>
            <td>{{ quiz.attempt_number }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">No quiz results found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Analytics -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Analytics"
      styleClass="!rounded-none mb-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
        <div>
          <strong>Total Courses Enrolled:</strong>
          {{ userData.analytics.total_courses_enrolled | number }}
        </div>
        <div>
          <strong>Courses Completed:</strong>
          {{ userData.analytics.courses_completed | number }}
        </div>
        <!-- <div>
          <strong>Certificates Earned:</strong>
          {{ userData.analytics.certificates_earned }}
        </div> -->
        <div>
          <strong>Total Payments Made:</strong>
          {{ userData.analytics.total_payments_made || 0 | number }} $
        </div>
        <div>
          <strong>Average Rating Given:</strong>
          {{ userData.analytics.average_rating_given || 0 | number }}
        </div>
        <div>
          <strong>Lesson Completion Rate:</strong>
          {{ userData.analytics.lesson_completion_rate || 0 | number }}%
        </div>
        <div>
          <strong>Average Quiz Score:</strong>
          {{ userData.analytics.average_quiz_score || 0 | number }}
        </div>
      </div>
    </p-card>
  </div>
</div>
