<div class="">
  <div class="flex justify-between gap-2">
    <h6 class="text-xl font-bold mb-4">User Details</h6>
    <a [routerLink]="['/admin/user-management']">
      <i class="pi pi-window-minimize"></i>
    </a>
  </div>

  <p-progressSpinner
    *ngIf="isLoading"
    class="flex justify-center"
  ></p-progressSpinner>

  <!-- User Data -->
  <div *ngIf="userData && !isLoading">
    <!-- User Information -->
    <p-card header="User Information" styleClass="!rounded-none mb-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div><strong>ID:</strong> {{ userData.user.id }}</div>
        <div><strong>Username:</strong> {{ userData.user.username }}</div>
        <div><strong>Email:</strong> {{ userData.user.email }}</div>
        <div>
          <strong>Birthdate:</strong> {{ userData.user.birthdate | date }}
        </div>
        <div><strong>Gender:</strong> {{ userData.user.gender }}</div>
        <div class="flex items-center gap-2">
          <strong>Role:</strong>
          <div>
            <p-tag
              *ngIf="userData.user.role === 'admin'"
              severity="danger"
              [value]="userData.user.role"
              [rounded]="true"
              class="!text-xs"
            />
            <p-tag
              *ngIf="userData.user.role === 'student'"
              severity="success"
              class="!text-xs"
              [value]="userData.user.role"
              [rounded]="true"
            />
            <p-tag
              *ngIf="userData.user.role === 'instructor'"
              severity="info"
              class="!text-xs"
              [value]="userData.user.role"
              [rounded]="true"
            />
          </div>
        </div>
        <div>
          <strong>Created At:</strong>
          <span class="text-sm">{{
            userData.user.created_at | date : "dd/MM/yyyy HH:mm"
          }}</span>
        </div>
        <div>
          <strong>Updated At:</strong>
          <span class="text-sm">{{
            userData.user.updated_at | date : "dd/MM/yyyy HH:mm"
          }}</span>
        </div>
      </div>
    </p-card>

    <!-- Student Information -->
    <p-card
      *ngIf="userData.user.role === 'student'"
      header="Student Information"
      styleClass="!rounded-none mb-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div><strong>ID:</strong> {{ userData.user.student.id }}</div>
        <div>
          <strong>Learning Goals:</strong>
          {{ userData.user.student.learning_goals }}
        </div>
        <div>
          <strong>Total Courses Completed:</strong>
          {{ userData.user.student.total_courses_completed }}
        </div>
        <div>
          <strong>Created At:</strong>
          {{ userData.user.student.created_at | date : "dd/MM/yyyy HH:mm" }}
        </div>
        <div>
          <strong>Updated At:</strong>
          {{ userData.user.student.updated_at | date : "dd/MM/yyyy HH:mm" }}
        </div>
      </div>

      <div class="mt-4">
        <div class="flex gap-2 items-center">
          <strong>Categories of Interest:</strong>
          <div
            *ngIf="userData.user.student.categories.length === 0"
            class="text-gray-500"
          >
            No categories.
          </div>
          <div
            *ngIf="userData.user.student.categories.length > 0"
            class="flex flex-wrap gap-2"
          >
            <p-tag
              *ngFor="let category of userData.user.student.categories"
              severity="info"
              [value]="category.name"
              [rounded]="true"
              class="!text-xs"
            ></p-tag>
          </div>
        </div>
      </div>
    </p-card>

    <!-- Course Enrollments -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Course Enrollments"
      styleClass="!rounded-none mb-4"
    >
      <p-table [value]="userData.user.enrollments" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Status</th>
            <th>Enrolled At</th>
            <th>Completed At</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-enrollment>
          <tr>
            <td>{{ enrollment.id }}</td>
            <td>{{ enrollment.course_id }}</td>
            <td>{{ enrollment.status }}</td>
            <td>{{ enrollment.enrolled_at | date : "dd/MM/yyyy HH:mm" }}</td>
            <td>
              {{
                enrollment.completed_at
                  ? (enrollment.completed_at | date : "dd/MM/yyyy HH:mm")
                  : "Not Completed"
              }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center">No enrolled courses found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Payments -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Payments"
      styleClass="!rounded-none mb-4"
    >
      <div *ngIf="userData.user.payments.length === 0" class="text-center">
        No payments found.
      </div>
      <p-table
        *ngIf="userData.user.payments.length > 0"
        [value]="userData.user.payments"
        [rowHover]="true"
      >
        <!-- Add table headers and content if needed -->
      </p-table>
    </p-card>

    <!-- Lesson Progress -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Lesson Progress"
      styleClass="!rounded-none mb-4"
    >
      <p-table [value]="userData.user.lesson_progress" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Lesson ID</th>
            <th>Status</th>
            <th>Completed At</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-progress>
          <tr>
            <td>{{ progress.id }}</td>
            <td>{{ progress.lesson_id }}</td>
            <td>
              <div>
                <p-tag
                  *ngIf="progress.status === 'not_started'"
                  severity="warn"
                  value="Not Started"
                  [rounded]="true"
                  class="!text-xs"
                />
                <p-tag
                  *ngIf="progress.status === 'in_progress'"
                  severity="info"
                  class="!text-xs"
                  value="In Progress"
                  [rounded]="true"
                />
                <p-tag
                  *ngIf="progress.status === 'completed'"
                  severity="success"
                  class="!text-xs"
                  value="Completed"
                  [rounded]="true"
                />
              </div>
            </td>
            <td>
              {{
                progress.completed_at
                  ? (progress.completed_at | date : "dd/MM/yyyy HH:mm")
                  : "Not Completed"
              }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">No lesson progress found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Reviews -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Reviews"
      styleClass="!rounded-none mb-4"
    >
      <p-table [value]="userData.user.reviews" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Rating</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-review>
          <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.course_id }}</td>
            <td>{{ review.rating }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3" class="text-center">No reviews found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Quiz Results -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Quiz Results"
      styleClass="!rounded-none mb-4"
    >
      <p-table [value]="userData.user.quiz_results" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Quiz ID</th>
            <th>Score</th>
            <th>Attempt Number</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quiz>
          <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.quiz_id }}</td>
            <td>
              <div>
                <p-tag
                  *ngIf="quiz.score >= 0 && quiz.score <= 50"
                  severity="error"
                  [value]="quiz.score"
                  [rounded]="true"
                  class="!text-xs"
                />
                <p-tag
                  *ngIf="quiz.score > 50 && quiz.score <= 65"
                  severity="warn"
                  [value]="quiz.score"
                  [rounded]="true"
                  class="!text-xs"
                />
                <p-tag
                  *ngIf="quiz.score > 65 && quiz.score < 80"
                  severity="info"
                  class="!text-xs"
                  [value]="quiz.score"
                  [rounded]="true"
                />
                <p-tag
                  *ngIf="quiz.score > 80"
                  severity="success"
                  class="!text-xs"
                  [value]="quiz.score"
                  [rounded]="true"
                />
              </div>
            </td>
            <td>{{ quiz.attempt_number }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">No quiz results found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Analytics -->
    <p-card
      *ngIf="userData.user.role !== 'admin'"
      header="Analytics"
      styleClass="!rounded-none mb-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <strong>Total Courses Enrolled:</strong>
          {{ userData.analytics.total_courses_enrolled }}
        </div>
        <div>
          <strong>Courses Completed:</strong>
          {{ userData.analytics.courses_completed }}
        </div>
        <div>
          <strong>Certificates Earned:</strong>
          {{ userData.analytics.certificates_earned }}
        </div>
        <div>
          <strong>Total Payments Made:</strong>
          {{ userData.analytics.total_payments_made }}
        </div>
        <div>
          <strong>Average Rating Given:</strong>
          {{ userData.analytics.average_rating_given }}
        </div>
        <div>
          <strong>Lesson Completion Rate:</strong>
          {{ userData.analytics.lesson_completion_rate }}%
        </div>
        <div>
          <strong>Average Quiz Score:</strong>
          {{ userData.analytics.average_quiz_score }}
        </div>
        <div>
          <strong>Total Forum Posts:</strong>
          {{ userData.analytics.forum_engagement.total_posts }}
        </div>
        <div>
          <strong>Flagged Posts:</strong>
          {{ userData.analytics.forum_engagement.flagged_posts }}
        </div>
      </div>
    </p-card>
  </div>
</div>
