<div>
  <!-- Thông báo -->
  <p-toast></p-toast>

  <!-- Bảng danh sách người dùng đã xóa -->
  <p-table
    class="w-full"
    #tableUserDeleted
    [value]="users"
    [columns]="cols"
    [lazy]="true"
    (onLazyLoad)="loadDeletedUsers($event)"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [paginator]="true"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Displaying from {first} to {last} of {totalRecords} users"
    [showCurrentPageReport]="true"
    [loading]="isLoading"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <p class="m-0 lg:text-lg font-semibold">List of Blocked Users</p>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr class="text-sm">
        <th>
          <p-tableHeaderCheckbox />
        </th>
        <th class="hidden lg:table-cell !p-0">
          <div class="flex items-center">
            <span>Id</span>
          </div>
        </th>
        <th>
          <div class="flex items-center">Username</div>
        </th>
        <th>
          <div class="flex items-center">Email</div>
        </th>
        <th>
          <div class="flex items-center">Trình độ học vấn</div>
        </th>
        <th>
          <div class="flex items-center">Năm sinh</div>
        </th>
        <th>
          <div class="flex items-center">Giới tính</div>
        </th>
        <th>
          <div class="flex items-center">Vai trò</div>
        </th>
        <th>
          <div class="flex items-center">Ngày xóa</div>
        </th>
        <th>
          <div class="flex items-center">Hành động</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user" />
        </td>
        <td class="hidden lg:table-cell !p-0 text-center align-middle">
          <div class="flex items-center justify-center h-full">
            {{ user.id }}
          </div>
        </td>
        <td>
          {{ user.username }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td class="text-center align-middle">
          {{ user.LoE_DI || "NaN" }}
        </td>
        <td>
          {{ user.birthdate | date }}
        </td>
        <td class="text-center align-middle">
          {{ user.gender }}
        </td>
        <td>
          <div>
            <p-tag
              *ngIf="user.role === 'admin'"
              severity="danger"
              [value]="user.role"
              [rounded]="true"
              class="!text-xs"
            />
            <p-tag
              *ngIf="user.role === 'student'"
              severity="success"
              class="!text-xs"
              [value]="user.role"
              [rounded]="true"
            />
            <p-tag
              *ngIf="user.role === 'instructor'"
              severity="info"
              class="!text-xs"
              [value]="user.role"
              [rounded]="true"
            />
          </div>
        </td>
        <td>
          {{ user.deleted_at | date : "dd/MM/yyyy HH:mm" }}
        </td>
        <td>
          <button
            pButton
            label="Khôi phục"
            class="p-button-success p-button-sm"
            (click)="restoreUser(user.id)"
          ></button>
          <button
            pButton
            label="Xoá vĩnh viễn"
            class="mt-2 p-button-danger p-button-sm"
            (click)="forceDeleteUser(user.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11" class="text-center">User not found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
