<div class="">
  <!-- Thông báo -->
  <p-toast></p-toast>

  <!-- Bảng danh sách mã giảm giá -->
  <p-table
    class="w-full"
    #tableCoupon
    [value]="coupons"
    [columns]="cols"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [(selection)]="selectedCoupons"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} mã giảm giá"
    [showCurrentPageReport]="true"
    [loading]="isLoading"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <p class="m-0 lg:text-lg font-semibold">Quản lý Mã Giảm giá</p>
        <div class="flex gap-2">
          <button
            pButton
            label="Thêm mã giảm giá"
            icon="pi pi-plus"
            class="p-button-primary"
            (click)="openNew()"
          ></button>
          <button
            pButton
            label="Xuất CSV"
            icon="pi pi-file-export"
            class="p-button-secondary"
            (click)="exportCSV()"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr class="text-sm">
        <th>
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="id" class="hidden lg:table-cell !p-0">
          <div class="flex items-center">
            <p-sortIcon field="id" />
            <span>Mã</span>
          </div>
        </th>
        <th pSortableColumn="code">
          <div class="flex items-center">
            Mã giảm giá
            <p-sortIcon field="code" />
          </div>
        </th>
        <th pSortableColumn="discount_type">
          <div class="flex items-center">
            Loại giảm giá
            <p-sortIcon field="discount_type" />
          </div>
        </th>
        <th pSortableColumn="discount_value">
          <div class="flex items-center">
            Giá trị giảm
            <p-sortIcon field="discount_value" />
          </div>
        </th>
        <th pSortableColumn="min_order">
          <div class="flex items-center">
            Đơn tối thiểu
            <p-sortIcon field="min_order" />
          </div>
        </th>
        <th pSortableColumn="start_date">
          <div class="flex items-center">
            Ngày bắt đầu
            <p-sortIcon field="start_date" />
          </div>
        </th>
        <th pSortableColumn="end_date">
          <div class="flex items-center">
            Ngày kết thúc
            <p-sortIcon field="end_date" />
          </div>
        </th>
        <th pSortableColumn="usage_limit">
          <div class="flex items-center">
            Giới hạn sử dụng
            <p-sortIcon field="usage_limit" />
          </div>
        </th>
        <th pSortableColumn="used_count">
          <div class="flex items-center">
            Số lần đã dùng
            <p-sortIcon field="used_count" />
          </div>
        </th>
        <th pSortableColumn="is_active">
          <div class="flex items-center">
            Trạng thái
            <p-sortIcon field="is_active" />
          </div>
        </th>
        <th>
          <div class="flex items-center">Hành động</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coupon>
      <tr>
        <td>
          <p-tableCheckbox [value]="coupon" />
        </td>
        <td class="hidden lg:table-cell !p-0 text-center align-middle">
          <div class="flex items-center justify-center h-full">
            {{ coupon.id }}
          </div>
        </td>
        <td>
          {{ coupon.code }}
        </td>
        <td>
          {{ coupon.discount_type === "percent" ? "Phần trăm" : "Cố định" }}
        </td>
        <td>
          {{ coupon.discount_value }}
          {{ coupon.discount_type === "percent" ? "%" : "đ" }}
        </td>
        <td>
          {{ coupon.min_order ? coupon.min_order + " đ" : "Không giới hạn" }}
        </td>
        <td>
          {{
            coupon.start_date
              ? (coupon.start_date | date : "dd/MM/yyyy")
              : "Không có"
          }}
        </td>
        <td>
          {{
            coupon.end_date
              ? (coupon.end_date | date : "dd/MM/yyyy")
              : "Không có"
          }}
        </td>
        <td>
          {{ coupon.usage_limit ? coupon.usage_limit : "Không giới hạn" }}
        </td>
        <td>
          {{ coupon.used_count }}
        </td>
        <td>
          <p-tag
            [severity]="coupon.is_active ? 'success' : 'danger'"
            [value]="coupon.is_active ? 'Hoạt động' : 'Không hoạt động'"
            [rounded]="true"
            class="!text-xs"
          />
        </td>
        <td>
          <button
            pButton
            label="Sửa"
            class="p-button-primary p-button-sm"
            (click)="editCoupon(coupon)"
          ></button>
          <button
            pButton
            label="Xóa"
            class="p-button-danger p-button-sm"
            (click)="deleteCoupon(coupon.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" class="text-center">Không tìm thấy mã giảm giá.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Dialog thêm/sửa mã giảm giá -->
  <p-dialog
    [(visible)]="couponDialog"
    [modal]="true"
    [style]="{ width: '450px' }"
    header="{{ isEditting ? 'Sửa Mã Giảm giá' : 'Thêm Mã Giảm giá' }}"
    (onHide)="hideDialog()"
  >
    <form
      [formGroup]="couponForm"
      (ngSubmit)="isEditting ? updateCoupon() : addCoupon()"
    >
      <div class="space-y-4">
        <div>
          <app-form-element
            [label]="'Mã giảm giá'"
            [required]="true"
            [control]="couponForm.get('code')!"
          >
            <input
              pInputText
              class="w-full"
              placeholder="Nhập mã giảm giá"
              formControlName="code"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [label]="'Loại giảm giá'"
            [required]="true"
            [control]="couponForm.get('discount_type')!"
          >
            <p-dropdown
              class="w-full"
              [options]="[
                { label: 'Phần trăm', value: 'percent' },
                { label: 'Cố định', value: 'fixed' }
              ]"
              formControlName="discount_type"
              placeholder="Chọn loại giảm giá"
            ></p-dropdown>
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [label]="'Giá trị giảm'"
            [required]="true"
            [control]="couponForm.get('discount_value')!"
          >
            <input
              pInputText
              type="number"
              class="w-full"
              placeholder="Nhập giá trị giảm"
              formControlName="discount_value"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('min_order')!"
            [label]="'Đơn tối thiểu'"
            [required]="false"
          >
            <input
              pInputText
              type="number"
              class="w-full"
              placeholder="Nhập đơn tối thiểu"
              formControlName="min_order"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('start_date')!"
            [label]="'Ngày bắt đầu'"
            [required]="false"
          >
            <p-datepicker
              formControlName="start_date"
              dateFormat="dd/mm/yy"
              placeholder="Chọn ngày bắt đầu"
              class="!w-full"
              [minDate]="minDate"
              [readonlyInput]="true"
              [showIcon]="true"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('end_date')!"
            [label]="'Ngày kết thúc'"
            [required]="false"
          >
            <p-datepicker
              formControlName="end_date"
              dateFormat="dd/mm/yy"
              placeholder="Chọn ngày kết thúc"
              class="!w-full"
              [minDate]="minDate"
              [readonlyInput]="true"
              [showIcon]="true"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('usage_limit')!"
            [label]="'Giới hạn sử dụng'"
            [required]="false"
          >
            <input
              pInputText
              type="number"
              class="w-full"
              placeholder="Nhập giới hạn sử dụng"
              formControlName="usage_limit"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('used_count')!"
            [label]="'Số lượng đã sử dụng'"
            [required]="false"
          >
            <input
              pInputText
              type="number"
              class="w-full"
              placeholder="Số lượng đã sử dụng"
              formControlName="used_count"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [label]="'Trạng thái'"
            [control]="couponForm.get('is_active')!"
            [required]="false"
          >
            <p-checkbox
              formControlName="is_active"
              [binary]="true"
              label="Hoạt động"
            ></p-checkbox>
          </app-form-element>
        </div>
      </div>

      <div class="flex justify-end mt-4 gap-2">
        <button
          pButton
          type="button"
          label="Hủy"
          class="p-button-secondary"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          type="submit"
          [label]="isEditting ? 'Cập nhật' : 'Thêm'"
          class="p-button-primary"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>
