<div class="">
  <!-- Notification -->
  <p-toast></p-toast>

  <!-- Coupon List Table -->
  <p-table
    class="w-full"
    #tableCoupon
    [value]="coupons"
    [columns]="cols"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [(selection)]="selectedCoupons"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} coupons"
    [showCurrentPageReport]="true"
    [loading]="isLoading"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <p class="m-0 lg:text-lg font-semibold">Coupon Management</p>
        <div class="flex gap-2">
          <button
            pButton
            label="Add Coupon"
            icon="pi pi-plus"
            class="p-button-primary"
            (click)="openNew()"
          ></button>
          <button
            pButton
            label="Export CSV"
            icon="pi pi-file-export"
            class="p-button-secondary"
            (click)="exportCSV()"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr class="text-xs">
        <th pSortableColumn="id" class="hidden lg:table-cell">
          <div class="flex items-center">
            <p-sortIcon field="id" />
            <span>ID</span>
          </div>
        </th>
        <th pSortableColumn="code">
          <div class="flex items-center">
            Coupon Code
            <p-sortIcon field="code" />
          </div>
        </th>
        <th pSortableColumn="discount_type">
          <div class="flex items-center">
            Discount Type
            <p-sortIcon field="discount_type" />
          </div>
        </th>
        <th pSortableColumn="discount_value">
          <div class="flex items-center">
            Discount Value
            <p-sortIcon field="discount_value" />
          </div>
        </th>
        <th pSortableColumn="min_order">
          <div class="flex items-center">
            Minimum Order
            <p-sortIcon field="min_order" />
          </div>
        </th>
        <th pSortableColumn="start_date">
          <div class="flex items-center">
            Start Date
            <p-sortIcon field="start_date" />
          </div>
        </th>
        <th pSortableColumn="end_date">
          <div class="flex items-center">
            End Date
            <p-sortIcon field="end_date" />
          </div>
        </th>
        <th pSortableColumn="usage_limit">
          <div class="flex items-center">
            Usage Limit
            <p-sortIcon field="usage_limit" />
          </div>
        </th>
        <th pSortableColumn="used_count">
          <div class="flex items-center">
            Times Used
            <p-sortIcon field="used_count" />
          </div>
        </th>
        <th pSortableColumn="is_active">
          <div class="flex items-center">
            Status
            <p-sortIcon field="is_active" />
          </div>
        </th>
        <th>
          <div class="flex items-center">Actions</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coupon>
      <tr class="text-sm">
        <td class="hidden lg:table-cell !p-0 text-center align-middle">
          <div class="flex items-center justify-center h-full">
            {{ coupon.id }}
          </div>
        </td>
        <td>
          {{ coupon.code }}
        </td>
        <td>
          {{ coupon.discount_type === "percent" ? "Percentage" : "Fixed" }}
        </td>
        <td>
          {{ coupon.discount_value }}
          {{ coupon.discount_type === "percent" ? "%" : "$" }}
        </td>
        <td>
          {{ coupon.min_order ? coupon.min_order + "$" : "Unlimited" }}
        </td>
        <td>
          {{
            coupon.start_date
              ? (coupon.start_date | date : "dd/MM/yyyy")
              : "None"
          }}
        </td>
        <td>
          {{
            coupon.end_date ? (coupon.end_date | date : "dd/MM/yyyy") : "None"
          }}
        </td>
        <td>
          {{ coupon.usage_limit ? coupon.usage_limit : "Unlimited" }}
        </td>
        <td>
          {{ coupon.used_count }}
        </td>
        <td>
          <p-tag
            [severity]="coupon.is_active ? 'success' : 'danger'"
            [value]="coupon.is_active ? 'Active' : 'Inactive'"
            [rounded]="true"
            class="!text-xs"
          />
        </td>
        <td>
          <button
            pButton
            label="Edit"
            class="p-button-primary p-button-sm"
            (click)="editCoupon(coupon)"
          ></button>
          <button
            pButton
            label="Delete"
            class="p-button-danger p-button-sm"
            (click)="deleteCoupon(coupon.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" class="text-center">No coupons found.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Add/Edit Coupon Dialog -->
  <p-dialog
    [(visible)]="couponDialog"
    [modal]="true"
    [style]="{ width: '450px' }"
    header="{{ isEditing ? 'Edit Coupon' : 'Add Coupon' }}"
    (onHide)="hideDialog()"
  >
    <form
      [formGroup]="couponForm"
      (ngSubmit)="isEditing ? updateCoupon() : addCoupon()"
    >
      <div class="space-y-4">
        <div>
          <app-form-element
            [label]="'Coupon Code'"
            [required]="true"
            [control]="couponForm.get('code')!"
          >
            <input
              pInputText
              class="w-full"
              placeholder="Enter coupon code"
              formControlName="code"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [label]="'Discount Type'"
            [required]="true"
            [control]="couponForm.get('discount_type')!"
          >
            <p-select
              class="w-full"
              [options]="[
                { label: 'Percentage', value: 'percent' },
                { label: 'Fixed', value: 'fixed' }
              ]"
              formControlName="discount_type"
              placeholder="Select discount type"
            ></p-select>
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [label]="'Discount Value'"
            [required]="true"
            [control]="couponForm.get('discount_value')!"
          >
            <input
              pInputText
              type="number"
              class="w-full"
              placeholder="Enter discount value"
              formControlName="discount_value"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('min_order')!"
            [label]="'Minimum Order'"
            [required]="true"
          >
            <input
              pInputText
              type="number"
              class="w-full"
              placeholder="Enter minimum order"
              formControlName="min_order"
              min="0"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('start_date')!"
            [label]="'Start Date'"
            [required]="true"
          >
            <p-datepicker
              formControlName="start_date"
              dateFormat="dd/mm/yy"
              placeholder="Select start date"
              class="w-full"
              [minDate]="minDate"
              [readonlyInput]="true"
              [showIcon]="true"
              appendTo="body"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('end_date')!"
            [label]="'End Date'"
            [required]="true"
          >
            <p-datepicker
              formControlName="end_date"
              dateFormat="dd/mm/yy"
              placeholder="Select end date"
              class="!w-full"
              [minDate]="minDate"
              [readonlyInput]="true"
              [showIcon]="true"
            />
          </app-form-element>
        </div>

        <div>
          <app-form-element
            [control]="couponForm.get('usage_limit')!"
            [label]="'Usage Limit'"
            [required]="true"
          >
            <input
              pInputText
              min="1"
              type="number"
              class="w-full"
              placeholder="Enter usage limit"
              formControlName="usage_limit"
            />
          </app-form-element>
        </div>
        @if (isEditing) {
        <div>
          <app-form-element
            [label]="'Active'"
            [control]="couponForm.get('is_active')!"
            [required]="false"
          >
            <p-checkbox
              formControlName="is_active"
              [binary]="true"
              label="Active"
            ></p-checkbox>
          </app-form-element>
        </div>
        }
      </div>

      <div class="flex justify-end mt-4 gap-2">
        <button
          pButton
          type="button"
          label="Cancel"
          class="p-button-secondary"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          type="submit"
          [label]="isEditing ? 'Update' : 'Add'"
          class="p-button-primary"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>
