<div
  class="min-w-full flex items-center justify-center object-cover bg-gradient-to-r from-[#f3e7e1] to-[#d9f0f0] min-h-screen"
>
  <div class="max-w-5xl mx-auto">
    <div
      *ngIf="!isLoading"
      class="container grid grid-cols-1 lg:grid-cols-2 items-start justify-center p-6 gap-5"
      x-data="{ tab: 'signup' }"
    >
      <div class="hidden lg:block w-full pr-6">
        <img
          class="rounded-xl w-full h-full object-center"
          src="https://frontends.udemycdn.com/components/auth/desktop-illustration-step-2-x2.webp"
          lazy="true"
        />
      </div>
      <div class="col-span-1 lg:m-auto w-full overflow-hidden bg-white">
        <div class="p-4">
          <p class="text-center py-4 text-lg text-primary">
            Học tập dễ dàng, bắt đầu ngay hôm nay cùng LearnSmart!
          </p>
          <div class="w-full flex items-center justify-center">
            <div
              class="flex justify-center mb-6 gap-1 bg-secondary w-fit p-2 rounded-full text-white"
            >
              <button
                (click)="tab = 'login'"
                [ngClass]="{
                  'bg-secondary-content text-white': tab === 'login',
                }"
                class="px-4 py-2 text-white rounded-full focus:outline-none transition-colors duration-300 text-sm"
              >
                Đăng nhập
              </button>
              <button
                (click)="tab = 'signup'"
                [ngClass]="{
                  'bg-secondary-content text-white': tab === 'signup',
                }"
                class="px-4 py-2 text-white rounded-full focus:outline-none transition-colors duration-300 text-sm"
              >
                Đăng ký
              </button>
            </div>
          </div>
          <p class="text-sm lg:px-6 text-center text-dark">
            "Học đúng thứ bạn cần, theo cách bạn muốn."
          </p>

          <!-- Đăng ký  -->

          <form
            *ngIf="tab === 'signup'"
            class="space-y-4 lg:p-6"
            [formGroup]="registerForm"
            (ngSubmit)="onSubmitRegister()"
          >
            <app-form-element
              [required]="true"
              [label]="'Tên người dùng'"
              [control]="registerForm.get('username')!"
            >
              <input
                pInputText
                class="!rounded-full w-full"
                placeholder="Tên người dùng"
                formControlName="username"
              />
            </app-form-element>

            <app-form-element
              [required]="true"
              [label]="'Địa chỉ Email'"
              [control]="registerForm.get('email')!"
            >
              <input
                pInputText
                class="!rounded-full w-full"
                placeholder="admin@example.com"
                formControlName="email"
              />
            </app-form-element>

            <app-form-element
              [required]="true"
              [label]="'Mật khẩu'"
              [control]="registerForm.get('password')!"
            >
              <p-password
                [toggleMask]="true"
                placeholder="Nhập mật khẩu"
                promptLabel="Điền mật khẩu"
                weakLabel="Bảo mật yếu"
                mediumLabel="Trung bình"
                strongLabel="Mật khẩu tốt"
                formControlName="password"
              />
            </app-form-element>

            <app-form-element
              [required]="true"
              [label]="'Nhập lại mật khẩuu'"
              [control]="registerForm.get('password_confirmation')!"
            >
              <p-password
                [toggleMask]="true"
                [feedback]="false"
                formControlName="password_confirmation"
                placeholder="Nhập lại mật khẩu"
              />
            </app-form-element>

            <p-fieldset legend="Thông tin" [toggleable]="true">
              <div>
                <app-form-element [label]="'Trình độ học vấn'">
                  <p-select
                    [options]="LoE"
                    formControlName="LoE_DI"
                    optionLabel="name"
                    placeholder="Trình độ"
                    class="!rounded-full w-full"
                  />
                </app-form-element>
                <div class="grid grid-cols-2 gap-5">
                  <app-form-element
                    [label]="'Birthdate'"
                    [control]="registerForm.get('birthdate')!"
                  >
                    <p-datepicker
                      formControlName="birthdate"
                      [inputStyleClass]="'!rounded-full w-full'"
                      [minDate]="minDate"
                      dateFormat="Y-mm-dd"
                      [maxDate]="maxDate"
                      [yearRange]="minYear + ':' + maxYear"
                    />
                  </app-form-element>
                  <app-form-element
                    [label]="'Giới tính'"
                    [control]="registerForm.get('gender')!"
                  >
                    <p-select
                      [options]="gender"
                      formControlName="gender"
                      optionLabel="name"
                      placeholder="Không"
                      class="!rounded-full w-full"
                    />
                  </app-form-element>
                </div>
                <app-form-element [label]="'Mục tiêu học tập'">
                  <div class="flex flex-wrap gap-4">
                    <div
                      class="flex items-center"
                      *ngFor="let goal of learningGoals; let i = index"
                    >
                      <p-radiobutton
                        [name]="'learning_goals'"
                        [inputId]="'goal' + i"
                        [value]="goal.value"
                        formControlName="learning_goals"
                      />
                      <label class="ml-2 text-sm" [for]="'goal' + i">{{
                        goal.label
                      }}</label>
                    </div>
                  </div>
                </app-form-element>
                <p-divider />

                <app-form-element [label]="'Danh mục bạn quan tâm'">
                  <div class="flex flex-wrap gap-3">
                    <div *ngFor="let cat of categories">
                      <p-checkbox
                        [inputId]="'cat' + cat.id"
                        [value]="cat.id"
                        formControlName="category_ids"
                      />
                      <label for="{{ 'cat' + cat.id }}" class="ml-2">
                        {{ cat.name }}
                      </label>
                    </div>
                  </div>
                </app-form-element>
              </div>
            </p-fieldset>

            <div class="w-full flex justify-end pt-2">
              <button
                type="submit"
                class="cursor-pointer w-1/2 text-sm bg-secondary text-white py-2 rounded-full hover:bg-secondary-content transition-opacity duration-300 transform"
              >
                Đăng ký
              </button>
            </div>
          </form>

          <!-- Đăng ký  -->

          <!-- Đăng nhập  -->
          <form
            *ngIf="tab === 'login'"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmitLogin()"
            class="space-y-4 p-6"
          >
            <app-form-element
              [required]="true"
              [label]="'Địa chỉ Email'"
              [control]="loginForm.get('email')!"
            >
              <p-iconfield>
                <p-inputicon styleClass="pi pi-envelope" />
                <input
                  type="text"
                  pInputText
                  placeholder="admin@example.com"
                  class="!rounded-full w-full"
                  formControlName="email"
                />
              </p-iconfield>
            </app-form-element>
            <app-form-element
              [required]="true"
              [label]="'Mật khẩu'"
              [control]="loginForm.get('password')!"
            >
              <p-password
                [toggleMask]="true"
                [feedback]="false"
                formControlName="password"
                placeholder="password"
              />
            </app-form-element>

            <div class="w-full flex justify-end mt-2">
              <button
                class="w-1/2 text-sm bg-secondary text-white py-2 rounded-full hover:bg-secondary-content transition-opacity duration-300 transform"
              >
                Đăng nhập
              </button>
            </div>
          </form>

          <!-- Đăng nhập  -->

          <div class="mt-2">
            <p class="text-center text-gray-600 mb-4 text-sm">
              Hoặc tiếp tục với
            </p>
            <div class="flex justify-center space-x-4">
              <!-- <button
            class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors duration-300"
          >
            <i class="fab fa-facebook-f mr-2"></i> Facebook
          </button> -->
              <button class="btn-165">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 262">
                  <path
                    fill="#4285F4"
                    d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                  ></path>
                  <path
                    fill="#34A853"
                    d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                  ></path>
                  <path
                    fill="#FBBC05"
                    d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                  ></path>
                  <path
                    fill="#EB4335"
                    d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                  ></path>
                </svg>
                <span>Login with Google</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="isLoading">Đang tải...</p>
  </div>
</div>
