<div class="my-10 max-w-7xl mx-auto">
  <h3 class="text-2xl font-bold my-2">Lĩnh vực sẽ học tiếp theo</h3>
  <h5 class="text-xl font-bold mb-2">Được đề xuất cho bạn</h5>
  <div>
    <p-carousel
      #carousel
      [value]="courses"
      [numVisible]="numVisible"
      [numScroll]="numScroll"
      [circular]="true"
      [showIndicators]="false"
      contentClass="mt-16"
      [responsiveOptions]="responsiveOptions"
      (onPage)="onCarouselPageChange($event)"
    >
      <ng-template let-course #item>
        <div
          [routerLink]="['/chi-tiet-khoa-hoc', course.course_url]"
          class="m-2 relative group"
          (mouseenter)="showCardHover($event, course)"
          (mouseleave)="hideCardHover()"
        >
          <div class="flex flex-col">
            <img
              alt="Card"
              class="w-full"
              [src]="
                course.image
                  ? 'https://primefaces.org/cdn/primeng/images/card-ng.jpg'
                  : 'https://primefaces.org/cdn/primeng/images/card-ng.jpg'
              "
            />
            <p class="font-semibold py-1.5">{{ course.course_name }}</p>
            <span class="text-gray-400 text-sm">{{
              course.instructor.name
            }}</span>
            <div class="flex items-center gap-1 text-xs">
              <span class="font-bold text-red-500">
                {{ course.course_rating | number : "1.1-1" }}
              </span>
              <span class="text-red-500">
                <span *ngFor="let star of getStarArray(course.course_rating)">{{
                  star
                }}</span>
              </span>
              <span class="text-gray-400">
                ({{ course.number_of_ratings }})
              </span>
            </div>
            <p class="py-1 text-xs font-semibold">{{ course.price }}$</p>
            <p-tag
              severity="success"
              value="Best seller"
              class="w-fit opacity-60"
            />
          </div>
        </div>
      </ng-template>
    </p-carousel>

    <div
      (mouseenter)="keepCardHover()"
      (mouseleave)="hideCardHover()"
      *ngIf="activeCard"
      class="hover-popup absolute p-6 rounded-lg shadow-2xl bg-white w-96 opacity-0 transition-opacity duration-200 lg:visible invisible"
      [ngClass]="{
        'opacity-100 pointer-events-auto': activeCard,
        'right-full mr-4 left-auto ml-0':
          getCurrentPosition(activeCard) === getItemsInCurrentPage() - 1 ||
          getCurrentPosition(activeCard) === getItemsInCurrentPage() - 2,
        'left-full ml-4':
          getCurrentPosition(activeCard) !== getItemsInCurrentPage() - 1 &&
          getCurrentPosition(activeCard) !== getItemsInCurrentPage() - 2
      }"
      [ngStyle]="cardHoverPosition"
    >
      <div class="py-2 font-semibold">
        <h4 class="text-lg font-bold pb-2">{{ activeCard.course_name }}</h4>
        <div class="flex gap-5 text-xs items-center justify-between">
          <p-tag severity="success" value="Bán chạy" class="w-fit opacity-60" />
          <span class="text-green-400"
            >Updated at
            <span class="font-semibold text-green-600">{{
              activeCard.updated_at | date : "dd/MM/yyyy HH:mm"
            }}</span></span
          >
        </div>
        <p class="text-sm font-thin py-2">
          Tổng {{ activeCard.total_time }} giờ học
        </p>
        <div>
          {{ cutText(activeCard.course_description, 25) }}
        </div>
        <ul class="list-disc ml-4 text-sm py-2">
          <li>Độ khó: {{ activeCard.difficulty_level }}</li>
          <li>Kỹ năng học được: {{ activeCard.skills }}</li>
          <li>Số bài học: {{ activeCard.total_lessons }}</li>
        </ul>
        <div class="flex justify-between items-center gap-5 pt-5">
          <button
            disabled="true"
            class="px-6 py-3 bg-violet-600 text-white rounded-md font-semibold w-full"
          >
            View detail
          </button>
          <div class="">
            <i
              class="pi pi-heart text-violet-500 font-bold border-violet-500 p-2 border-2 rounded-full"
              style="font-size: 1.5rem"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
