<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-5">
  <div
    class="rounded border border-surface-200 p-6 bg-surface-0 lg:block hidden"
  >
    <p-skeleton width="100%" height="150px" />
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem" />
      <p-skeleton width="4rem" height="2rem" />
    </div>
  </div>
  <div
    class="rounded border border-surface-200 p-6 bg-surface-0 lg:block hidden"
  >
    <p-skeleton width="100%" height="150px" />
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem" />
      <p-skeleton width="4rem" height="2rem" />
    </div>
  </div>
  <div
    class="rounded border border-surface-200 p-6 bg-surface-0 md:block hidden"
  >
    <p-skeleton width="100%" height="150px" />
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem" />
      <p-skeleton width="4rem" height="2rem" />
    </div>
  </div>
  <div
    class="rounded border border-surface-200 p-6 bg-surface-0 md:block hidden"
  >
    <p-skeleton width="100%" height="150px" />
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem" />
      <p-skeleton width="4rem" height="2rem" />
    </div>
  </div>
  <div class="rounded border border-surface-200 p-6 bg-surface-0">
    <p-skeleton width="100%" height="150px" />
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem" />
      <p-skeleton width="4rem" height="2rem" />
    </div>
  </div>
</div>
