<div class="relative w-full z-50">
  <!-- Input tìm kiếm -->
  <div
    class="flex items-center border border-gray-300 focus-within:ring-secondary focus-within:border-secondary rounded-full"
  >
    <a
      class="text-gray-500 cursor-pointer hover:bg-gray-200 w-fit rounded-full p-2 pl-3"
      [href]="'http://localhost:4200/course?keyword=' + query"
    >
      <svg
        class="w-3 h-3"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </a>
    <input
      type="text"
      [(ngModel)]="query"
      (keyup.enter)="onSearch()"
      (input)="filterCourses()"
      (blur)="onBlur()"
      (focus)="onFocus()"
      placeholder="Search..."
      class="w-full pr-3 py-2 text-gray-700 outline-none text-sm"
    />
  </div>

  <!-- Dropdown gợi ý -->
  @if (query && filteredCourses.length && !pauseDropdown && showDropdown) {
  <div
    class="absolute z-10 w-full mt-1 bg-white border border-gray-200 rounded-md shadow-md max-h-[400px] overflow-y-scroll py-2"
  >
    @for (course of filteredCourses; track course) {
    <a
      [href]="'http://localhost:4200/course-detail/' + course.course_url"
      class="flex items-start gap-3 p-2 cursor-pointer hover:bg-gray-100"
    >
      <img
        [src]="course.image"
        [alt]="course.course_name"
        class="w-8 h-8 object-cover rounded"
      />
      <div class="flex flex-col justify-between">
        <span class="text-xs font-bold">{{ course.course_name }}</span>
        <span class="text-[10px] font-semibold">{{ course.category }} </span>
        <span class="text-[9px] font-semibold text-secondary-content">
          {{ course.instructor_name }}</span
        >
      </div>
    </a>
    }
  </div>
  }
</div>
