<p-toast></p-toast>
<h2 class="text-2xl font-bold mb-4">Course management</h2>
<div class="max-w-7xl mx-auto p-6 bg-white shadow-md">
  <!-- Filters -->
  <div class="mb-6">
    <form #filterForm="ngForm" class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div class="flex flex-col">
        <label for="searchQuery" class="text-sm font-medium text-gray-700"
          >Filter</label
        >
        <input
          id="searchQuery"
          pInputText
          [(ngModel)]="filters.q"
          name="q"
          placeholder="Enter course name, description, instructor, category"
          class="mt-1 p-2 border border-gray-300 rounded-md"
          (ngModelChange)="applyFilters()"
        />
      </div>
      <div class="flex flex-col">
        <label for="status" class="text-sm font-medium text-gray-700"
          >Status</label
        >
        <p-select
          id="status"
          [(ngModel)]="filters.status"
          [options]="statusOptions"
          optionLabel="label"
          optionValue="value"
          name="status"
          placeholder="Choice status"
          class="mt-1"
          (onChange)="applyFilters()"
        />
      </div>
      <div class="flex flex-col">
        <label for="difficultyLevel" class="text-sm font-medium text-gray-700"
          >Level</label
        >
        <p-select
          id="difficultyLevel"
          [(ngModel)]="filters.difficulty_level"
          [options]="difficultyOptions"
          optionLabel="label"
          optionValue="value"
          name="difficulty_level"
          placeholder="Choice level"
          class="mt-1"
          (onChange)="applyFilters()"
        />
      </div>
      <div class="flex flex-col">
        <label
          for="certificateEnabled"
          class="text-sm font-medium text-gray-700"
          >Certificate</label
        >
        <p-select
          id="certificateEnabled"
          [(ngModel)]="filters.is_certificate_enabled"
          [options]="certificateOptions"
          optionLabel="label"
          optionValue="value"
          name="is_certificate_enabled"
          class="mt-1"
          (onChange)="applyFilters()"
        />
      </div>
      <div class="flex flex-col">
        <label for="priceMin" class="text-sm font-medium text-gray-700"
          >Min price</label
        >
        <input
          id="priceMin"
          type="number"
          pInputText
          [(ngModel)]="filters.price_min"
          name="price_min"
          placeholder="Enter min price"
          class="mt-1 p-2 border border-gray-300 rounded-md"
          min="0"
          (ngModelChange)="applyFilters()"
        />
      </div>
      <div class="flex flex-col">
        <label for="priceMax" class="text-sm font-medium text-gray-700"
          >Max price</label
        >
        <input
          id="priceMax"
          type="number"
          pInputText
          [(ngModel)]="filters.price_max"
          name="price_max"
          placeholder="Enter max price"
          class="mt-1 p-2 border border-gray-300 rounded-md"
          min="0"
          (ngModelChange)="applyFilters()"
        />
      </div>
      <div class="flex items-end">
        <p-button
          label="CLear"
          icon="pi pi-times"
          (click)="resetFilters()"
          styleClass="p-button-secondary"
        />
      </div>
    </form>
  </div>

  <!-- Course Table -->
  <p-table
    [value]="courses"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [first]="firstRow"
    [rowHover]="true"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} courses"
    paginatorDropdownAppendTo="body"
    [loading]="loading"
    class="!text-sx"
  >
    <ng-template pTemplate="header">
      <tr class="text-xs">
        <th>Action</th>
        <th>ID</th>
        <th>Course name</th>
        <th>Difficulty Level</th>
        <th>Rating</th>
        <th>Price ($)</th>
        <th>Status</th>
        <th>Certificate</th>
        <th>Categories</th>
        <th>Instructor name</th>
        <th>Created at</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr class="text-xs">
        <td class="flex gap-1">
          <p-button
            icon="pi pi-ban"
            *ngIf="course.status !== 'banned' && course.status !== 'pending'"
            [rounded]="true"
            [raised]="true"
            severity="danger"
            (click)="banCourse(course.id)"
            size="small"
            pTooltip="Ban"
            tooltipPosition="top"
          />
          <p-button
            icon="pi pi-undo"
            [rounded]="true"
            *ngIf="course.status === 'banned'"
            [raised]="true"
            severity="info"
            (click)="unBanCourse(course.id)"
            size="small"
            pTooltip="Ban"
            tooltipPosition="top"
          />
          <p-button
            icon="pi pi-eye"
            [rounded]="true"
            [raised]="true"
            severity="help"
            size="small"
            text="true"
            [routerLink]="[course.id]"
            pTooltip="Detail"
            tooltipPosition="top"
          />
          @if (course.status === 'pending') {
          <p-button
            icon="pi pi-check"
            [rounded]="true"
            [raised]="true"
            text="true"
            (click)="openReviewDialog(course.id, 'approved')"
            size="small"
            severity="success"
            pTooltip="Approve"
            tooltipPosition="top"
          />
          } @if (course.status === 'pending') {
          <p-button
            icon="pi pi-times"
            (click)="openReviewDialog(course.id, 'rejected')"
            text="true"
            [rounded]="true"
            [raised]="true"
            size="small"
            severity="danger"
            pTooltip="Reject"
            tooltipPosition="top"
          />
          }
        </td>
        <td>{{ course.id }}</td>
        <td
          class="truncate"
          [pTooltip]="course.course_name"
          tooltipPosition="right"
        >
          <span class="text-primary font-semibold">
            {{ cutText(course.course_name, 5) }}
          </span>
        </td>
        <td>{{ course.difficulty_level }}</td>
        <td>
          <div class="flex items-center justify-center h-full">
            @if (course.course_rating >= 4) {
            <p-tag
              severity="success"
              value="{{ course.course_rating | number : '1.1-1' }}"
              [rounded]="true"
            />
            } @if (course.course_rating >= 3 && course.course_rating < 4) {
            <p-tag
              severity="info"
              value="{{ course.course_rating | number : '1.1-1' }}"
              [rounded]="true"
            />
            } @if (course.course_rating >= 2 && course.course_rating < 3) {
            <p-tag
              severity="warn"
              value="{{ course.course_rating | number : '1.1-1' }}"
              [rounded]="true"
            />
            } @if (course.course_rating >= 1 && course.course_rating < 2) {
            <p-tag
              severity="danger"
              value="{{ course.course_rating | number : '1.1-1' }}"
              [rounded]="true"
            />
            } @if (course.course_rating === 0) {
            <p-tag
              severity="contrast"
              value="{{ course.course_rating | number : '1.1-1' }}"
              [rounded]="true"
            />
            }
          </div>
        </td>
        <td>
          <span class="text-secondary font-mono">{{
            course.price | number
          }}</span>
        </td>
        <td>
          <div>
            @if (course.status === 'banned') {
            <p-tag
              severity="contrast"
              [value]="course.status"
              [rounded]="true"
              class="!text-xs"
            />
            } @if (course.status === 'approved') {
            <p-tag
              severity="success"
              [value]="course.status"
              [rounded]="true"
              class="!text-xs"
            />
            } @if (course.status === 'pending') {
            <p-tag
              severity="warn"
              class="!text-xs"
              [value]="course.status"
              [rounded]="true"
            />
            } @if (course.status === 'rejected') {
            <p-tag
              severity="danger"
              class="!text-xs"
              [value]="course.status"
              [rounded]="true"
            />
            } @if (course.status === 'unavailable') {
            <p-tag
              severity="secondary"
              class="!text-xs"
              [value]="course.status"
              [rounded]="true"
            />
            }
          </div>
        </td>
        <td>
          <p-tag
            [value]="course.is_certificate_enabled ? 'Yes' : 'No'"
            [severity]="course.is_certificate_enabled ? 'success' : 'danger'"
            [rounded]="true"
            class="!text-xs"
          />
        </td>
        <td
          [pTooltip]="getCategoryNames(course.categories)"
          tooltipPosition="right"
        >
          {{ cutText(getCategoryNames(course.categories), 2) }}
        </td>
        <td>{{ course.instructors.user.username }}</td>
        <td>{{ course.created_at | date : "dd/MM/yyyy" }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="text-center">No courses found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [header]="reviewAction === 'approved' ? 'Approve request' : 'Deny request'"
  [(visible)]="displayReviewDialog"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [draggable]="true"
  [resizable]="false"
>
  <div class="">
    <p>Please enter notes (if any):</p>
    <textarea
      rows="5"
      cols="30"
      placeholder="Enter notes (up to 2000 characters)"
      maxlength="2000"
      pTextarea
      [(ngModel)]="notes"
      class="w-full mt-4"
    ></textarea>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      label="Cancel"
      class="p-button-secondary"
      (click)="displayReviewDialog = false; notes = ''"
    ></button>
    <button
      pButton
      [label]="
        reviewAction === 'approved' ? 'Confirm approval' : 'Confirm rejection'
      "
      [ngClass]="
        reviewAction === 'approved' ? 'p-button-success' : 'p-button-danger'
      "
      (click)="submitReview()"
    ></button>
  </ng-template>
</p-dialog>
