<app-header></app-header>
<div class="max-w-7xl mx-auto my-10 grid grid-cols-12 gap-5 h-full">
  <div class="col-span-8 mb-6">
    <!-- Video Preview -->
    <video class="rounded-3xl w-full" controls [poster]="course?.image">
      <source [src]="previewVideoUrl" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <!-- <img [src]="course.image" [alt]="course.course_name" /> -->
    <!-- <video class="w-full" controls [src]="currentVideoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    <!-- Top: Studio Info & Stats -->
    <div class="my-6">
      <h5 class="text-black font-bold text-2xl leading-tight mb-4">
        {{ course?.course_name || "VUE JAVASCRIPT COURSE" }}
      </h5>
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <img
            [src]="course?.instructors?.avatar"
            alt="logo"
            class="w-8 h-8 rounded-full bg-white border border-[#32d296] p-1"
          />
          <span class="text-[#32d296] text-sm font-bold">
            {{ course?.instructors?.name }}
          </span>
        </div>
        <span class="ml-auto flex items-center gap-4">
          <span class="flex items-center gap-1 text-[#32d296] text-sm">
            <span class="pi pi-users"></span>
            {{ course?.enrollments_count || 0 }}
          </span>
          <span class="flex items-center gap-1 text-[#32d296] text-sm">
            <span class="pi pi-comments"></span>
            {{ course?.forum_posts_count || 0 }}
          </span>
        </span>
      </div>
      <p-divider />
    </div>

    <!-- Course Description -->
    <div class="course-description mb-4">
      <p class="text-black font-bold text-lg mb-2">Chi tiết khóa học</p>
      <p class="text-[#3a3f44] text-sm">
        {{ course?.course_description }}
      </p>
      <p-divider />
    </div>

    <!-- Review List -->
    <div class="space-y-5">
      <p class="text-black font-bold text-lg mb-2">Bình luận</p>
      <div *ngFor="let review of reviews" class="flex items-start gap-3">
        <p-avatar
          [image]="review.user?.avatar"
          size="normal"
          class="mt-1"
          shape="circle"
        />
        <div>
          <span class="font-bold">{{ review.user?.username || "User" }}</span>
          <div class="text-gray-400 text-sm">
            {{ review.created_at | date : "dd/MM/yyyy" }}
          </div>
          <div class="text-sm">
            {{ review.comment }}
          </div>
        </div>
      </div>
      <div *ngIf="!reviews?.length" class="text-gray-500 text-sm">
        Chưa có bình luận nào cho khóa học này.
      </div>
      <div class="mt-8 flex justify-center">
        <button
          class="border border-gray-600 text-black font-semibold px-6 py-2 rounded-md hover:bg-gray-200 transition duration-300"
        >
          Xem thêm
        </button>
      </div>
    </div>
  </div>

  <div class="col-span-4 h-full">
    <div
      class="sticky top-10 px-0 py-0 flex-col shadow border-l border-gray-100 h-fit"
    >
      <div class="flex items-center gap-1 px-4 py-2 select-none">
        <span class="font-bold text-red-500">
          {{ course.course_rating | number : "1.1-1" }}
        </span>
        <span class="text-red-500">
          <span *ngFor="let star of getStarArray(course.course_rating)">{{
            star
          }}</span>
        </span>
        |
        <p class="text-lg font-semibold">
          {{ course.certificates_count }} chứng chỉ
        </p>
        |
        <p class="text-xl font-bold text-primary" *ngIf="course.price > 0">
          {{ formatPrice(course.price) }}
        </p>
        <p class="text-xl font-bold text-secondary" *ngIf="course.price === 0">
          Miễn phí
        </p>
      </div>
      <button
        *ngIf="!isUserEnrolled && course.price > 0"
        (click)="enrollCourse()"
        class="px-6 py-3 bg-secondary hover:bg-secondary-content transition duration-300 text-white font-semibold w-full cursor-pointer"
      >
        Mua ngay
      </button>
      <button
        *ngIf="!isUserEnrolled && course.price === 0"
        (click)="enrollFreeCourse()"
        class="px-6 py-3 bg-secondary hover:bg-secondary-content transition duration-300 text-white font-semibold w-full cursor-pointer"
      >
        Nhận khoá học Miễn phí
      </button>
      <p
        *ngIf="isUserEnrolled"
        class="text-secondary text-sm w-full text-center py-2"
      >
        Bạn đã đăng ký khóa học này.
      </p>
      <p-accordion [value]="0" [multiple]="true" class="!rounded-none">
        <!-- Chỉ có 1 tab duy nhất với tiêu đề "Bài học" -->
        <p-accordion-panel [value]="0">
          <p-accordion-header class="!bg-gray/30 !rounded-none">
            <div class="w-full justify-between flex items-center mr-5">
              Bài học
              <span class="text-xs font-normal ml-2 text-end">
                {{ lessons.length || 0 }}/{{ lessons.length || 0 }} Videos •
                {{ getTotalDuration(lessons) }} phút
              </span>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <!-- Lặp qua toàn bộ lessons -->
            <div class="m-0" *ngFor="let lesson of lessons; let i = index">
              <div class="flex items-center justify-between">
                <div
                  *ngIf="lesson.status !== 'rejected'"
                  class="flex items-center gap-2 py-4 border-b-2 border-gray/20 w-full justify-between"
                >
                  <span
                    class="text-sm mr-5"
                    [pTooltip]="lesson.title"
                    tooltipPosition="top"
                    >{{ cutText(lesson.title, 10) }}</span
                  >
                  <!-- Hiển thị video nếu đã chọn -->
                  <div class="flex items-center gap-2">
                    <!-- <video
                  class="w-full"
                  controls
                  [src]="
                    currentVideoUrl ||
                    'https://www.w3schools.com/html/mov_bbb.mp4'
                  "
                  type="video/mp4"
                >
                  Your browser does not support the video tag.
                </video> -->

                    <a
                      *ngIf="
                        lesson.is_preview &&
                        lesson.video_url &&
                        lesson.status === 'approved'
                      "
                      (click)="
                        playVideo(lesson.video_url); $event.preventDefault()
                      "
                      class="underline text-xs text-secondary cursor-pointer"
                      >Xem trước</a
                    >
                    <p
                      class="text-xs w-12 font-semibold"
                      *ngIf="lesson.status === 'approved'"
                    >
                      {{ lesson.duration }} phút
                    </p>
                    <p
                      class="text-xs font-semibold text-secondary"
                      *ngIf="lesson.status === 'pending'"
                    >
                      Đang cập nhật
                    </p>
                  </div>
                </div>
              </div>
              <!-- Hiển thị video nếu đã chọn -->
              <div *ngIf="currentVideoUrl === lesson.video_url" class="mt-2">
                <video
                  class="w-full"
                  controls
                  [src]="currentVideoUrl"
                  type="video/mp4"
                >
                  Your browser does not support the video tag.
                </video>
              </div>
              <!-- Thông báo nếu không có quyền xem -->
              <!-- <div
                *ngIf="!lesson.is_preview && !isUserEnrolled"
                class="text-sm text-red-500 mt-2"
              >
                Vui lòng đăng ký khóa học để xem video này.
              </div> -->
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
  </div>
</div>
