<app-header></app-header>
<p-toast />
<div
  class="max-w-7xl mx-auto mt-2 mb-10 grid grid-cols-1 lg:grid-cols-12 gap-5 h-full lg:p-10 p-6"
>
  <div class="lg:col-span-8 mb-6">
    <!-- Video Preview -->
    <video
      *ngIf="previewVideoUrl"
      class="w-full h-auto aspect-video object-cover"
      controls
      [poster]="course?.image"
    >
      <source [src]="previewVideoUrl" type="video/mp4" />
    </video>
    <img
      *ngIf="!previewVideoUrl"
      [src]="course?.image"
      [alt]="course?.course_name || 'Course Thumbnail'"
      class="w-full h-auto rounded-3xl aspect-video object-cover"
    />
    <!-- <img [src]="course.image" [alt]="course.course_name" /> -->
    <!-- <video class="w-full" controls [src]="currentVideoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    <!-- Top: Studio Info & Stats -->
    <div class="my-6">
      <h5
        class="text-black md:font-bold font-semibold text-lg md:text-2xl leading-tight mb-4"
      >
        {{ course?.course_name || "..." }}
      </h5>
      <div class="flex items-center gap-4">
        <div
          class="flex items-center gap-2 cursor-pointer"
          [routerLink]="['/user', course?.instructors?.id]"
        >
          <img
            [src]="course?.instructors?.avatar"
            alt="logo"
            class="w-8 h-8 rounded-full bg-white border border-[#32d296] p-1"
          />
          <span class="text-[#32d296] text-sm font-bold">
            {{ course?.instructors?.user.username || "Unknown Instructor" }}
          </span>
        </div>
        <span class="ml-auto flex items-center gap-4">
          <span class="flex items-center gap-1 text-[#32d296] text-sm">
            <span class="pi pi-users"></span>
            {{ course?.enrollments_count || 0 }}
          </span>
          <span class="flex items-center gap-1 text-[#32d296] text-sm">
            <span class="pi pi-comments"></span>
            {{ course?.forum_posts_count || 0 }}
          </span>
        </span>
      </div>
      <p-divider />
    </div>

    <!-- Course Description -->
    <div class="course-description mb-4">
      <p class="text-black font-bold md:text-lg mb-2">Details</p>
      <p class="text-[#3a3f44] text-sm">
        {{ course?.course_description }}
      </p>
      <p-divider />
    </div>

    <!-- Learner also -->
    <div class="container mx-auto">
      <h2 class="text-lg font-bold mb-4">The learner also buys</h2>

      <div *ngFor="let recommend of recommendCourse">
        <div class="p-4 mb-4 flex items-start">
          <img
            [src]="recommend.url"
            [alt]="recommend.course_title"
            class="w-12 h-12 mr-4"
          />
          <div class="flex items-start justify-between text-xs w-full">
            <div>
              <h3 class="font-semibold text-sm">
                {{ recommend.course_title }}
              </h3>
              <div class="flex items-center mt-1">
                <span class="text-gray-500">• 163</span>
                <span class="text-gray-500">• Tổng số 3 giờ</span>
                <p class="text-gray-500">Đã cập nhật 8/2024</p>
              </div>
            </div>
            <span class="text-yellow-500">4,7 ★</span>
            <span class="text-xs font-bold">1.299.000 ₫</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Review List -->
    <div class="space-y-5">
      <p class="text-black font-bold md:text-lg mb-2">Reviews</p>
      <div *ngFor="let review of reviews" class="flex items-start gap-3">
        <p-avatar
          [image]="review.user?.avatar"
          size="normal"
          class="mt-1"
          shape="circle"
        />
        <div>
          <span class="font-bold">{{ review.user?.username || "..." }}</span>
          <div class="text-gray-400 text-sm">
            {{ review.created_at | date : "dd/MM/yyyy" }}
          </div>
          <div class="text-sm">
            {{ review.comment }}
          </div>
        </div>
      </div>
      <div *ngIf="!reviews?.length" class="text-gray-500 text-sm">
        No reviews for this course yet.
      </div>
      <div class="mt-8 flex justify-center">
        <button
          class="border border-gray-600 text-black font-semibold px-6 py-2 rounded-md hover:bg-gray-200 transition duration-300"
        >
          View more
        </button>
      </div>
    </div>
  </div>

  <div class="lg:col-span-4 h-full">
    <div
      class="sticky top-4 px-0 py-0 flex-col shadow border-l border-gray-100 bg-white !p-4 h-fit"
      *ngIf="!isLoading"
    >
      <div class="flex items-center gap-1 px-4 py-2 select-none">
        <span class="font-bold text-red-500">
          {{ course?.course_rating | number : "1.1-1" }}
        </span>
        <span class="text-red-500">
          <span *ngFor="let star of getStarArray(course?.course_rating)">{{
            star
          }}</span>
        </span>
        |
        <div *ngIf="course && course?.is_certificate_enabled">
          <p-tag severity="success">
            <div class="flex items-center gap-2 px-1">
              <i class="pi pi-trophy"></i>
              <span class="text-base"> Certificates </span>
            </div>
          </p-tag>
          |
        </div>
        <p
          class="text-xl font-bold text-primary"
          *ngIf="course && course.price > 0"
        >
          {{ course?.price | number }}
          $
        </p>
        <p
          class="text-xl font-bold text-green-500"
          *ngIf="course && course?.price === 0"
        >
          Free
        </p>
      </div>
      <div
        class="flex flex-col md:flex-row gap-4 mb-3"
        *ngIf="!isUserEnrolled || course?.price > 0"
      >
        <label
          class="flex items-center gap-2 cursor-pointer bg-gray-100 p-3 hover:bg-gray-200 transition duration-200 w-full"
        >
          <p-radioButton
            name="paymentMethod"
            value="vnpay"
            [(ngModel)]="selectedPaymentMethod"
          ></p-radioButton>
          <img
            src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Icon-VNPAY-QR.png"
            alt="VNPay"
            class="w-8 h-8"
          />
          <span class="font-semibold text-sm">Pay with VNPay</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer bg-gray-100 p-3 hover:bg-gray-200 transition duration-200 w-full"
        >
          <p-radioButton
            name="paymentMethod"
            value="paypal"
            [(ngModel)]="selectedPaymentMethod"
          ></p-radioButton>
          <img
            src="https://icon2.cleanpng.com/20180917/fvk/kisspng-logo-paypal-europe-services-ltd-vector-graphics-br-1713939922605.webp"
            alt="PayPal"
            class="w-8 h-8"
          />
          <span class="font-semibold text-sm">Pay with PayPal</span>
        </label>
      </div>

      <button
        *ngIf="!isUserEnrolled && course?.price > 0 && !isAuthor"
        (click)="enrollCourse()"
        class="px-6 py-3 mb-3 bg-primary/90 hover:bg-primary transition duration-300 text-white font-semibold w-full cursor-pointer"
        [disabled]="isLoading"
      >
        Buy Now
      </button>
      <button
        *ngIf="isAuthor"
        class="px-6 py-3 mb-3 bg-secondary/90 hover:bg-secondary transition duration-300 text-white font-semibold w-full cursor-pointer"
        [disabled]="isLoading"
        (click)="navigateToCourseManage(course.id)"
      >
        Course Manage
      </button>
      <button
        *ngIf="!isUserEnrolled && course?.price === 0 && !isAuthor"
        (click)="enrollFreeCourse()"
        class="px-6 py-3 mb-3 bg-secondary/90 hover:bg-secondary transition duration-300 text-white font-semibold w-full cursor-pointer"
        [disabled]="isLoading"
      >
        Get Free Course
      </button>
      <button
        *ngIf="isUserEnrolled"
        (click)="enrollFreeCourse()"
        class="px-6 py-3 mb-3 bg-secondary/90 hover:bg-secondary transition duration-300 text-white font-semibold w-full cursor-pointer"
        [disabled]="isLoading"
      >
        Learn Now
      </button>

      <p-accordion
        [value]="0"
        [multiple]="true"
        class="!rounded-none !border-none"
      >
        <!-- Chỉ có 1 tab duy nhất với tiêu đề "Bài học" -->
        <p-accordion-panel [value]="0">
          <p-accordion-header class="!bg-gray/20 !rounded-none">
            <div class="w-full justify-between flex items-center mr-5">
              Lessons
              <span class="text-xs font-normal ml-2 text-end">
                {{ lessons.length || 0 }}/{{ lessons.length || 0 }} Videos •
                {{ getTotalDuration(lessons) }} Minutes
              </span>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <!-- Lặp qua toàn bộ lessons -->
            <div class="m-0" *ngFor="let lesson of lessons; let i = index">
              <div class="flex items-center justify-between">
                <div
                  *ngIf="lesson.status !== 'rejected'"
                  class="flex items-center gap-2 py-4 border-b-2 border-gray/20 !w-full justify-between"
                >
                  <span
                    class="text-sm mr-5"
                    [pTooltip]="lesson.title"
                    tooltipPosition="top"
                    >{{ cutText(lesson.title, 10) }}</span
                  >
                  <!-- Hiển thị video nếu đã chọn -->
                  <div class="flex items-center gap-2">
                    <!-- <video
                  class="w-full"
                  controls
                  [src]="
                    currentVideoUrl ||
                    'https://www.w3schools.com/html/mov_bbb.mp4'
                  "
                  type="video/mp4"
                >
                  Your browser does not support the video tag.
                </video> -->

                    <a
                      *ngIf="lesson.is_preview && lesson.video_url"
                      (click)="
                        playVideo(lesson.video_url); $event.preventDefault()
                      "
                      class="underline text-xs text-secondary cursor-pointer"
                      >Preview</a
                    >
                    <p
                      class="text-xs w-12 font-semibold"
                      *ngIf="lesson.status === 'approved'"
                    >
                      {{ lesson.duration }} phút
                    </p>
                  </div>
                </div>
              </div>
              <!-- Hiển thị video nếu đã chọn -->
              <!-- <div *ngIf="currentVideoUrl === lesson.video_url" class="mt-2">
                <video
                  class="w-full"
                  controls
                  [src]="currentVideoUrl"
                  type="video/mp4"
                >
                  Your browser does not support the video tag.
                </video>
              </div> -->
              <!-- Thông báo nếu không có quyền xem -->
              <!-- <div
                *ngIf="!lesson.is_preview && !isUserEnrolled"
                class="text-sm text-red-500 mt-2"
              >
                Vui lòng đăng ký khóa học để xem video này.
              </div> -->
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
    <app-loading [isLoading]="isLoading"></app-loading>
  </div>
</div>

<p-dialog
  header="Student Profile"
  [(visible)]="studentDialog"
  [modal]="true"
  [style]="{ width: '25rem' }"
  [breakpoints]="{ '1899px': '30rem', '575px': '25rem' }"
>
  <div class="p-0 lg:p-2">
    <span class="p-text-secondary block mb-8"
      >Add your student information for recommendation.</span
    >
    <form
      class="space-y-4"
      [formGroup]="studentForm"
      (ngSubmit)="onSubmitForm()"
    >
      <app-form-element
        [label]="'Educational background'"
        [control]="studentForm.get('LoE')!"
      >
        <p-select
          [options]="LoE"
          formControlName="LoE_DI"
          optionLabel="name"
          optionValue="value"
          placeholder="Level"
          name="LoE_DI"
          class="!rounded-full w-full"
        />
      </app-form-element>
      <app-form-element
        label="Learning Goal"
        [control]="studentForm.get('learning_goals')!"
        [required]="true"
      >
        <div class="flex flex-wrap gap-4">
          <div
            class="flex items-center"
            *ngFor="let goal of learningGoals; let i = index"
          >
            <p-radioButton
              [inputId]="'goal' + i"
              name="learning_goals"
              [value]="goal.value"
              formControlName="learning_goals"
              class="mr-2"
            />
            <label
              [for]="'goal' + i"
              class="text-xs font-medium text-gray-700 cursor-pointer"
            >
              {{ goal.label }}
            </label>
          </div>
        </div>
      </app-form-element>
      <p-divider />
      <app-form-element
        [label]="'Favorite category'"
        [control]="studentForm.get('category_ids')!"
      >
        <div class="flex flex-wrap gap-3 text-xs">
          <div *ngFor="let cat of categories">
            <p-checkbox
              [inputId]="'cat' + cat.id"
              name="category_ids"
              [value]="cat.id"
              formControlName="category_ids"
            />
            <label for="{{ 'cat' + cat.id }}" class="ml-2">{{
              cat.name
            }}</label>
          </div>
        </div>
      </app-form-element>
      <div class="flex justify-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (click)="studentDialog = false"
        />
        <p-button label="Save" type="submit" />
      </div>
    </form>
  </div>
</p-dialog>
