<main class="max-w-7xl mx-auto p-10">
  <div>
    <h3 class="text-4xl font-bold mb-5">Giỏ hàng</h3>
  </div>
  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-9 mr-10">
      <h6 class="text-xl font-bold">3 khóa học trong giỏ hàng</h6>
      <div class="grid grid-cols-1 gap-5">
        <div class="col-span-1">
          <p-divider class="p-0" />
          <div class="grid grid-cols-12 gap-5">
            <div class="col-span-2">
              <img
                alt="Card"
                class="w-full h-24"
                src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
                />
              </div>
              <div class="col-span-8 p-0">
                <div class="flex flex-col justify-between">
                  <b class="pb-2"
                    >LLM Engineering: Master AI, Large Language Models &</b
                    >
                    <span class="text-gray-400 text-xs"
                      >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Neque dolorum voluptates minus minima cum amet reiciendis
                      nostrum! Dolorum quaerat, dolore explicabo, ab dignissimos,
                      voluptates iste facilis placeat nesciunt aliquid eos.</span
                      >
                      <div class="flex items-center text-sm gap-1 py-2">
                        <span class="font-bold text-red-500">5.0</span>
                        <span class="text-red-500">★★★★★</span> (12)
                      </div>
                      <ul class="list-disc flex text-xs text-gray-500 gap-5">
                        <li class="list-none">Tổng 1 giờ</li>
                        <li>6 bài</li>
                        <li>Mọi cấp độ</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-span-2 text-end text-[#2FC7A1]">
                    <b class="py-1"><u>đ</u>399,000</b>
                    <i class="pi pi-tag ml-2" style="font-size: 1rem"></i>
                  </div>
                </div>
              </div>
              <div class="col-span-1">
                <p-divider class="p-0" />
                <div class="grid grid-cols-12 gap-5">
                  <div class="col-span-2">
                    <img
                      alt="Card"
                      class="w-full h-24"
                      src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
                      />
                    </div>
                    <div class="col-span-8 p-0">
                      <div class="flex flex-col justify-between">
                        <b class="pb-2"
                          >LLM Engineering: Master AI, Large Language Models &</b
                          >
                          <span class="text-gray-400 text-xs"
                            >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Neque dolorum voluptates minus minima cum amet reiciendis
                            nostrum! Dolorum quaerat, dolore explicabo, ab dignissimos,
                            voluptates iste facilis placeat nesciunt aliquid eos.</span
                            >
                            <div class="flex items-center text-sm gap-1 py-2">
                              <span class="font-bold text-red-500">5.0</span>
                              <span class="text-red-500">★★★★★</span> (12)
                            </div>
                            <ul class="list-disc flex text-xs text-gray-500 gap-5">
                              <li class="list-none">Tổng 1 giờ</li>
                              <li>6 bài</li>
                              <li>Mọi cấp độ</li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-span-2 text-end text-[#2FC7A1]">
                          <b class="py-1"><u>đ</u>399,000</b>
                          <i class="pi pi-tag ml-2" style="font-size: 1rem"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-span-1">
                      <p-divider class="p-0" />
                      <div class="grid grid-cols-12 gap-5">
                        <div class="col-span-2">
                          <img
                            alt="Card"
                            class="w-full h-24"
                            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
                            />
                          </div>
                          <div class="col-span-8 p-0">
                            <div class="flex flex-col justify-between">
                              <b class="pb-2"
                                >LLM Engineering: Master AI, Large Language Models &</b
                                >
                                <span class="text-gray-400 text-xs"
                                  >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                  Neque dolorum voluptates minus minima cum amet reiciendis
                                  nostrum! Dolorum quaerat, dolore explicabo, ab dignissimos,
                                  voluptates iste facilis placeat nesciunt aliquid eos.</span
                                  >
                                  <div class="flex items-center text-sm gap-1 py-2">
                                    <span class="font-bold text-red-500">5.0</span>
                                    <span class="text-red-500">★★★★★</span> (12)
                                  </div>
                                  <ul class="list-disc flex text-xs text-gray-500 gap-5">
                                    <li class="list-none">Tổng 1 giờ</li>
                                    <li>6 bài</li>
                                    <li>Mọi cấp độ</li>
                                  </ul>
                                </div>
                              </div>
                              <div class="col-span-2 text-end text-[#2FC7A1]">
                                <b class="py-1"><u>đ</u>399,000</b>
                                <i class="pi pi-tag ml-2" style="font-size: 1rem"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-span-3 w-full">
                        <div class="flex flex-col gap-2">
                          <p>Tổng:</p>
                          <h3 class="text-4xl font-bold">807,000 ₫</h3>
                          <div>
                            <p>2,657,000 ₫</p>
                            <span>Giảm 70%</span>
                          </div>
                          <button
                            class="px-6 py-3 bg-violet-600 text-white rounded-md font-bold hover:bg-violet-700 w-full"
                            >
                            Tiến hành đặt hàng
                            <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
                          </button>
                          <small>Bạn sẽ không bị tính phí ngay bây giờ</small>
                          <hr class="my-2" />
                        </div>
                      </div>
                    </div>

                    <h3 class="text-xl font-bold mt-10 py-4">Bạn cũng có thể thích</h3>
                    <div class="grid grid-cols-4 gap-4">
                      @for (item of lists; track item; let i = $index) {
                        <div>
                          <div class="col-span-1 relative group">
                            <div class="flex flex-col">
                              <img
                                alt="Card"
                                class="w-full"
                                src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
                                />
                                <b class="py-2">Khoá học lập trình cơ bản {{ item.value }}</b>
                                <span class="text-gray-400 text-sm">Tên tác giả</span>
                                <b class="py-1"><u>đ</u>399,000</b>
                                <p-tag
                                  severity="success"
                                  value="Best seller"
                                  class="w-fit opacity-60"
                                  />
                                </div>
                                <div
          [ngClass]="{
            'left-full ml-4': (i + 1) % 4 !== 0,
            'right-full mr-4 left-auto ml-0': (i + 1) % 4 === 0
          }"
                                  class="card absolute top-0 left-full -translate-y-10 ml-1 z-50 product-info p-6 rounded-lg shadow-lg border bg-white w-96 mx-auto my-10 opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto ease-linear duration-100"
                                  >
                                  <div class="py-2 font-semibold">
                                    <h4 class="text-lg font-bold pb-2">Học thiết kế giao diện Figma</h4>
                                    <div class="flex gap-5">
                                      <p-tag
                                        severity="success"
                                        value="Bán chạy"
                                        class="w-fit opacity-60"
                                        />
                                        <span class="text-green-400"
                                          >Cập nhật
                                          <span class="font-semibold text-green-600">12/2024</span></span
                                          >
                                        </div>
                                        <p class="text-sm font-thin py-2">Tổng 2.5 giờ học</p>
                                        <div>
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto
                                          minus possimus illum voluptatem quod amet, dignissimos nulla autem
                                          velit ratione quaerat, in nemo, veritatis at! Quibusdam labore id
                                          iure sapiente.
                                        </div>
                                        <ul class="list-disc ml-4 text-sm py-2">
                                          <li>Lorem 1</li>
                                          <li>Lorem 2</li>
                                          <li>Lorem 3</li>
                                        </ul>
                                        <div class="flex justify-between items-centerg gap-5 pt-5">
                                          <button
                                            class="px-6 py-3 bg-violet-600 text-white rounded-md font-semibold w-full"
                                            >
                                            Thêm vào giỏ hàng
                                          </button>
                                          <div class="">
                                            <i
                                              class="pi pi-heart text-violet-500 font-bold border-violet-500 p-2 border-2 rounded-full"
                                              style="font-size: 1.5rem"
                                            ></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              }
                            </div>
                          </main>
