.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trên Chrome, Safari, Edge */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none;
    /* Ẩn thanh cuộn trên Firefox */
}