<p-toast></p-toast>
<div class="max-w-7xl mx-auto my-10 px-4 sm:px-6 lg:px-8">
  <app-loading [isLoading]="isLoading"></app-loading>

  @if (lessons.length > 0) {
  <div class="flex flex-col md:flex-row gap-6 items-start">
    <!-- Lesson List -->
    <div class="w-full md:w-1/3 bg-white shadow p-4">
      <h3 class="text-lg font-semibold text-gray-800 mb-4">Lesson List</h3>
      @if (!isLoading) {
      <div class="space-y-2 max-h-[calc(100vh-200px)] overflow-y-auto">
        @for (lesson of lessons; track lesson; let i = $index) {
        <div
          [ngClass]="{
            'bg-blue-100': selectedLesson?.id === lesson.id,
            'hover:bg-gray-100': selectedLesson?.id !== lesson.id
          }"
        >
          <div
            class="flex items-center justify-between p-3 cursor-pointer transition-colors"
          >
            <div class="flex-1">
              <p class="text-sm font-medium text-gray-800">
                {{ lesson.title }}
              </p>
              <p class="text-xs text-gray-600">
                <i class="pi pi-clock mr-1"></i> {{ lesson.duration }} minutes
              </p>
              <p class="text-xs text-gray-600">
                <i class="pi pi-eye mr-1"></i>
                {{ lesson.is_preview ? "Preview" : "No Preview" }}
              </p>
              <p-tag
                [severity]="
                  lesson.progress === 'completed'
                    ? 'success'
                    : lesson.progress === 'in_progress'
                    ? 'info'
                    : 'danger'
                "
                [value]="lesson.progress"
                [rounded]="true"
                class="!text-xs mt-1"
              />
              @if (lesson.completed_at) {
              <span class="text-xs ml-2 text-gray-500">
                {{ lesson.completed_at | date : "dd/MM/yyyy HH:mm" }}
              </span>
              }
            </div>
            <button
              pButton
              type="button"
              icon="pi pi-play"
              class="p-button-text p-button-sm"
              (click)="selectLesson(lesson, i)"
            ></button>
          </div>
          @if (lesson?.versions.length > 0) {
          <div>
            @for (version of lesson?.versions; track version; let i = $index) {
            <div class="flex items-center gap-2">
              <a
                (click)="selectLesson(version, i)"
                class="text-xs text-primary hover:text-secondary transition duration-200 underline p-2"
                >Version {{ i + 2 }}</a
              >
            </div>
            }
          </div>
          }
          <hr />
        </div>
        }
      </div>
      }
    </div>
    <!-- Video bài học -->
    <div class="w-full md:w-2/3">
      <div class="bg-white shadow-md p-4">
        @if (selectedLesson) {
        <div>
          <h3 class="text-lg font-semibold text-gray-800 mb-4">
            {{ selectedLesson.title }}
          </h3>
          <div class="mb-4">
            <video
              controls
              [src]="selectedLesson.video_url"
              class="w-full max-h-96"
              type="video/mp4"
              (timeupdate)="onVideoTimeUpdate($event)"
            >
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="flex justify-between items-center">
            <button
              pButton
              type="button"
              label="Previous"
              icon="pi pi-chevron-left"
              [disabled]="currentLessonIndex === 0"
              (click)="selectPreviousLesson()"
              class="p-button-outlined p-button-sm"
            ></button>
            <button
              pButton
              type="button"
              label="Next"
              icon="pi pi-chevron-right"
              iconPos="right"
              [disabled]="currentLessonIndex === lessons.length - 1"
              (click)="selectNextLesson()"
              class="p-button-outlined p-button-sm"
            ></button>
          </div>
        </div>
        } @else {
        <div class="text-center text-gray-500 py-4">
          Please choose a lesson to start learning.
        </div>
        }
      </div>
      <div class="py-2">
        <hr class="mt-2 text-gray-300" />
        <p class="text-lg font-semibold w-full text-center">Quiz</p>
        <hr class="my-2 text-gray-300" />
        @if (quizzes.length > 0) {
        <div class="space-y-4">
          @for (quiz of quizzes; track quiz; let i = $index) {
          <p-accordion value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>
                <div class="pr-4 flex items-center justify-between">
                  <div class="flex-1">
                    <h3
                      class="text-sm md:text-lg font-semibold text-gray-800 mb-1"
                    >
                      {{ quiz.title }}
                    </h3>
                    <div
                      class="flex flex-wrap gap-4 text-gray-600 text-xs md:text-sm"
                    >
                      <p>
                        <i class="pi pi-question-circle mr-1"></i> Questions:
                        {{ quiz.questions_count }}
                      </p>
                      <p>
                        <i class="pi pi-refresh mr-1"></i> Max attempts:
                        {{ quiz.max_attempts }}
                      </p>
                      <p>
                        <i class="pi pi-refresh mr-1"></i> Remaining:
                        {{ quiz.remaining_attempts }}
                      </p>
                      <p>
                        <i class="pi pi-clock mr-1"></i> Time:
                        {{ quiz.time_limit }} minutes
                      </p>
                      <p>
                        <i class="pi pi-calendar mr-1"></i> Created at:
                        {{ quiz.created_at | date : "dd/MM/yyyy" }}
                      </p>
                    </div>
                  </div>
                  <p-button
                    [label]="
                      quiz.remaining_attempts > 0 ? 'Start Quiz' : 'End of turn'
                    "
                    [disabled]="quiz.remaining_attempts === 0"
                    [severity]="
                      quiz.remaining_attempts === 0 ? 'danger' : 'success'
                    "
                    icon="pi pi-play"
                    styleClass="p-button-sm"
                    [routerLink]="['/quiz', quiz.quiz_id]"
                  />
                </div>
              </p-accordion-header>
              @if (quiz.results?.length > 0) {
              <p-accordion-content>
                <div class="space-y-4">
                  @for (result of quiz.results; track result) {
                  <div class="bg-white rounded-lg shadow-sm p-4">
                    <div class="flex items-center justify-between">
                      <div>
                        <p
                          class="md:text-sm text-xs font-semibold text-gray-800"
                        >
                          <i class="pi pi-check-circle mr-1 text-green-500"></i>
                          Attempt {{ result.attempt_number }}
                        </p>
                        <p class="md:text-sm text-xs text-gray-600">
                          <i class="pi pi-star-fill mr-1 text-yellow-500"></i>
                          Point: {{ result.score | number : "1.2-2" }} / 100
                        </p>
                        <p class="md:text-sm text-xs text-gray-600">
                          <i class="pi pi-clock mr-1"></i>
                          Started at:
                          {{ result.started_at | date : "dd/MM/yyyy HH:mm" }}
                        </p>
                        @if (result.completed_at) {
                        <p class="md:text-sm text-xs text-gray-600">
                          <i class="pi pi-calendar mr-1"></i>
                          Completed at:
                          {{ result.completed_at | date : "dd/MM/yyyy HH:mm" }}
                        </p>
                        }
                      </div>
                      <p-tag
                        [severity]="
                          result.score >= 70
                            ? 'success'
                            : result.score >= 50
                            ? 'warning'
                            : 'danger'
                        "
                        [value]="result.score"
                        [rounded]="true"
                        class="!text-xs"
                      />
                    </div>
                  </div>
                  }
                </div>
              </p-accordion-content>
              }
            </p-accordion-panel>
          </p-accordion>
          }
        </div>
        } @if (quizzes.length === 0) {
        <div class="text-center text-gray-500 py-4">No quizzes available.</div>
        }
      </div>
    </div>
  </div>
  } @else {
  <div class="text-center text-gray-500 py-4">
    This course has no lessons yet.
  </div>
  }

  <!-- Course Information -->
  @if (course) {
  <div class="my-8">
    <h2 class="md:text-2xl font-semibold md:font-bold text-gray-800 mb-2">
      {{ course.course_name }}
    </h2>
    <p class="md:text-sm text-xs text-gray-600 mb-1">
      <i class="pi pi-star mr-1"></i> Level: {{ course.difficulty_level }}
    </p>
    <div class="flex items-center mb-1">
      <span class="md:text-sm text-xs text-gray-600 mr-1">
        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
        {{ course.course_rating | number : "1.1-1" }}
      </span>
      <span class="text-xs text-gray-500"> ({{ reviews.length }}) </span>
    </div>
    <p class="md:text-sm text-xs text-gray-600 line-clamp-3">
      {{ course.course_description }}
    </p>
  </div>
  }

  <!-- Review List -->
  <div class="space-y-5">
    @if (!hasReviewed && currentUserId) {
    <p-card
      [header]="isEditing ? 'Edit Your Review' : 'Write Your Review'"
      styleClass="mb-6"
    >
      <div class="space-y-4">
        <div class="flex flex-col gap-2">
          <p-select
            [options]="feedback_type"
            [(ngModel)]="selectedFeedback"
            optionValue="name"
            optionLabel="name"
            placeholder="Select Feedback Type"
            class="w-full md:w-56"
          />
          <label class="text-sm font-medium text-gray-700"
            >Choose the star rating:</label
          >
          <div class="flex items-center gap-2">
            <p-rating
              [(ngModel)]="newRating"
              [stars]="5"
              styleClass="custom-rating"
            ></p-rating>
            @if (newRating > 0) {
            <span class="text-sm text-gray-600 ml-2">
              {{ getRatingLabel(newRating) }}
            </span>
            }
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label for="comment" class="text-sm font-medium text-gray-700"
            >Your Comment:</label
          >
          <textarea
            id="comment"
            pInputTextarea
            [(ngModel)]="newComment"
            placeholder="Share your experience about this course..."
            [rows]="4"
            class="w-full resize-none"
          ></textarea>
        </div>
        <div class="flex justify-end gap-2">
          @if (isEditing) {
          <p-button
            label="Cancel"
            icon="pi pi-times"
            (onClick)="cancelEdit()"
            styleClass="p-button-outlined"
          ></p-button>
          }
          <p-button
            [label]="isEditing ? 'Update' : 'Submit'"
            icon="pi pi-send"
            (onClick)="submitReview()"
            [loading]="isComment"
            [disabled]="newRating === 0"
            styleClass="bg-blue-600 hover:bg-blue-700"
          ></p-button>
        </div>
      </div>
    </p-card>
    }
    <p class="text-black font-bold text-sm md:text-lg mb-4">Reviews</p>
    @for (review of displayedReviews; track review) {
    <div>
      <div class="flex items-start gap-5 justify-between">
        <div class="flex items-start gap-3">
          <p-avatar
            [image]="review.user?.avatar"
            size="normal"
            class="mt-1"
            shape="circle"
          />
          <div>
            <span class="font-semibold text-sm md:text-lg md:font-bold">{{
              review.user?.username || review.user?.email
            }}</span>
            <div class="text-gray-500 text-sm flex gap-1 items-center">
              @for (star of getStars(); track star; let i = $index) {
              <span>
                <i
                  class="pi pi-star-fill !text-xs"
                  [ngClass]="i < review.rating ? 'text-yellow-500' : ''"
                ></i>
              </span>
              }
              <span class="text-xs ml-2">{{
                review.created_at | date : "dd/MM/yyyy"
              }}</span>
            </div>
            <div class="text-xs md:text-sm mt-3 font-light">
              {{ review.comment }}
            </div>
            <p-tag
              severity="secondary"
              [value]="review.feedback_type"
              [rounded]="true"
              class="!text-xs"
            />
          </div>
        </div>
        @if (currentUserId === review.user_id) {
        <div class="card flex justify-center">
          <i
            class="pi pi-file-edit cursor-pointer"
            (click)="editReview(review)"
          ></i>
        </div>
        }
      </div>
      <p-divider />
    </div>
    } @if (!reviews?.length) {
    <div class="text-gray-500 text-sm">No reviews yet for this course.</div>
    } @if (reviews.length > 1) {
    <div class="mt-8 flex justify-center">
      <button
        class="border border-gray-600 text-black font-semibold px-6 py-2 rounded-md hover:bg-gray-200 transition duration-300"
        (click)="toggleShowMore()"
      >
        {{ showAll ? "Show Less" : "Show More" }}
      </button>
    </div>
    }
  </div>
</div>
