<h1
  class="text-4xl font-bold font-mono pb-4 border-b border-gray my-6 text-center"
>
  Escalation Process for Policy Violations
</h1>
<div class="max-w-5xl mx-auto p-6 my-10">
  <p class="mb-4">
    Our students and instructors are typically good, responsible members of the
    community. We understand that everyone makes mistakes, and sometimes, you
    just don’t know what the rules are.
  </p>
  <p class="mb-4">
    If an instructor does have a policy violation, they will first receive a
    simple warning. We will also provide resources to help better understand our
    policies and be successful on LearnSmart.
  </p>
  <p class="mb-4">
    If we see further violations of any of our policies, there will be more
    severe consequences in the form of “strikes.” The escalation process is as
    follows:
  </p>
  <ol class="list-decimal ml-6 mb-4 font-mono font-semibold">
    <li>
      Warning → An email from Trust & Safety about the violation and our
      policies
    </li>
    <li>
      Strike 1 → Suspension of announcement and direct messaging privileges for
      a month
    </li>
    <li>
      Strike 2 → Courses blocked from active promotions for a month + suspension
      of announcement and direct messaging privileges for a month
    </li>
    <li>
      Strike 3 → Courses blocked from new enrollments for a month + suspension
      of announcement and direct messaging privileges for a month
    </li>
    <li>
      Ban → Account and course materials are permanently banned from the
      platform
    </li>
  </ol>
  <p class="mb-4">
    These strikes apply at a course level. All instructors and co-instructors
    associated with the course or courses in violation will see their features
    disabled for that course.
  </p>
  <p class="mb-4">
    Please note that we reserve the right to escalate strikes based on the
    severity of the violation as well as past instructor behavior. Strikes are
    reevaluated on a six-month rolling basis, but those with an ongoing history
    of policy violations will ultimately face removal from the LearnSmart
    platform.
  </p>
  <p class="mb-4">
    We encourage instructors to be proactive about understanding and following
    LearnSmart policies. We recommend everyone look through our
    <a href="#" class="text-blue-500 underline">Terms</a> and the
    <a href="#" class="text-blue-500 underline">Trust & Safety</a> articles to
    start off on the right foot.
  </p>
  <p>
    If you have ever questions about our policies not answered in the Help
    Center, please let us know at
    <a href="mailto:policy&#64;stu.edu.vn" class="text-blue-500 underline"
      >policy&#64;learnsmart.com</a
    >.
  </p>
</div>
