/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";

@theme {
    --color-primary: #FE543D !important;
    --color-primary-light: #f3e7e1 !important;
    --color-secondary: #2FC7A1 !important;
    --color-secondary-content: #35D7AE !important;
    --color-secondary-light: #d9f0f0 !important;
    --color-dark: #17254E !important;
}


body {
    font-family: var(--font-family);
    background-color: #F8F8F8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

::ng-deep .p-carousel-content,
::ng-deep .p-carousel-items-content {
    overflow: visible !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trên Chrome, Safari, Edge */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none;
    /* Ẩn thanh cuộn trên Firefox */
}