<p-toast />
<p-table
  class="w-full"
  #tableCourse
  [value]="categories"
  [columns]="cols"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="['name', 'children.name']"
  [(selection)]="selectedCategories"
  [rowHover]="false"
  dataKey="id"
  currentPageReportTemplate="Displaying items from {first} to {last} of {totalRecords} categories"
  [showCurrentPageReport]="true"
  [loading]="isLoading"
  [expandedRowKeys]="expandedRows"
>
  <ng-template #caption>
    <div class="flex items-center gap-5 justify-between">
      <div class="flex items-center gap-2">
        <p class="m-0 lg:text-lg font-semibold">Category management</p>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="searchGlobal($event)"
            placeholder="Searching..."
          />
        </p-iconfield>
      </div>
      <div>
        <p-button
          class="mr-2"
          label="Collapse All"
          icon="pi pi-minus"
          text
          (onClick)="collapseAll()"
        />
        <p-button
          label="Add"
          (onClick)="openNew()"
          icon="pi pi-plus"
          class="mr-2"
        />
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <tr class="!text-sm">
      <th style="width: 5rem"></th>
      <th pSortableColumn="id" class="hidden lg:table-cell !p-0">
        <div class="flex items-center">
          <p-sortIcon field="id" />
          <span>Id</span>
        </div>
      </th>
      <th>
        <div class="flex items-center">Name</div>
      </th>
      <th>
        <div class="flex items-center">
          <p-sortIcon field="courses_count" />
          Amount course
        </div>
      </th>
      <th>
        <div class="flex items-center">Action</div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-category let-expanded="expanded">
    <tr class="!text-sm">
      <td>
        <p-button
          type="button"
          pRipple
          [pRowToggler]="category"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="
            expanded
              ? '!text-sm pi pi-chevron-down'
              : '!text-sm pi pi-chevron-right'
          "
          *ngIf="category.children.length"
        />
      </td>
      <td class="hidden lg:table-cell">
        {{ category.id }}
      </td>
      <td>
        <span [pTooltip]="category.name" tooltipPosition="right">
          {{ category.name }}
        </span>
      </td>
      <td>
        <span>
          {{ category.courses_count }}
        </span>
      </td>
      <td>
        <p-button
          icon="pi pi-pencil"
          class="mr-2"
          (onClick)="editCategory(category)"
          label="Update"
          [rounded]="true"
          size="small"
          [outlined]="true"
        />
        <!-- <p-button
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (onClick)="confirmDelete($event)"
        /> -->
        <p-confirmpopup
          [key]="'delete-category-' + category.id"
        ></p-confirmpopup>

        <p-button
          (onClick)="confirmDelete($event, category.id)"
          icon="pi pi-trash"
          label="Delete"
          size="small"
          [rounded]="true"
          severity="danger"
          [outlined]="true"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-category let-expanded="expanded">
    <tr class="!text-xs">
      <td colspan="7">
        <div class="p-4 pt-2">
          <h5 class="text-sm font-semibold mb-2">Sub of {{ category.name }}</h5>
          <p-table [value]="category.children" dataKey="id">
            <ng-template #header>
              <tr class="!text-xs">
                <th pSortableColumn="id" class="hidden lg:table-cell !p-0">
                  <div class="flex items-center">
                    <p-sortIcon field="id" />
                    <span>Id</span>
                  </div>
                </th>
                <th>
                  <div class="flex items-center">Name</div>
                </th>
                <th>
                  <div class="flex items-center">Amount</div>
                </th>
                <th>
                  <div class="flex items-center">Action</div>
                </th>
              </tr>
            </ng-template>
            <ng-template #body let-children>
              <tr class="!text-xs">
                <td class="hidden lg:table-cell">
                  {{ children.id }}
                </td>
                <td>
                  <span [pTooltip]="children.name" tooltipPosition="right">
                    {{ children.name }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ children.courses_count }}
                  </span>
                </td>
                <td>
                  <p-button
                    icon="pi pi-pencil"
                    class="mr-2"
                    size="small"
                    (onClick)="editCategory(children)"
                    label="Update"
                    [rounded]="true"
                    [outlined]="true"
                  />
                  <!-- <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (onClick)="confirmDelete($event)"
                  /> -->
                  <p-confirmpopup
                    [key]="'delete-category-' + children.id"
                  ></p-confirmpopup>

                  <p-button
                    (onClick)="confirmDelete($event, children.id)"
                    size="small"
                    icon="pi pi-trash"
                    label="Delete"
                    [rounded]="true"
                    severity="danger"
                    [outlined]="true"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="6">There are no order for this product yet.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="categoryDialog"
  [style]="{ width: '30rem', 'box-shadow': '0 4px 6px rgba(0, 0, 0, 0.1)' }"
  header="{{ !isEditting ? 'Add Category' : 'Update Category' }}"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-4 p-4">
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="!isEditting ? addCategory() : updateCategory()"
      >
        <div class="flex flex-col gap-2">
          <app-form-element
            [label]="'Parent Category'"
            [control]="categoryForm.get('parent_id')!"
          >
            <p-select
              class="w-full"
              formControlName="parent_id"
              [options]="parentCategories"
              optionLabel="label"
              optionValue="value"
              placeholder="Select parent category (optional)"
              [appendTo]="'body'"
              [style]="{ 'max-height': '200px' }"
              [scrollHeight]="'200px'"
            />
          </app-form-element>
          <app-form-element
            [label]="'Name'"
            [required]="true"
            [control]="categoryForm.get('name')!"
          >
            <input
              pInputText
              class="text-sm custom-input w-full px-4 py-3 rounded-md focus:outline-gray-200 border border-gray-300"
              placeholder="Enter category name"
              formControlName="name"
              type="text"
              id="name-input"
            />
          </app-form-element>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <!-- Hủy -->
    <p-button
      label="{{ !isEditting ? 'Add' : 'Update' }}"
      icon="pi pi-check"
      styleClass="p-button-raised"
      [disabled]="categoryForm.invalid || isLoading"
      (click)="!isEditting ? addCategory() : updateCategory()"
    />
    <!-- Thêm/Sửa -->
  </ng-template>
</p-dialog>
