<div class="my-10 max-w-7xl mx-auto overflow-hidden py-6">
  <h3
    class="font-semibold text-lg md:text-xl lg:text-2xl lg:font-bold my-2 mb-6 text-center md:text-left"
  >
    The field to study next
  </h3>
  <div class="card">
    <p-carousel
      [value]="lists"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="5000"
      [showIndicators]="false"
    >
      <ng-template let-list #item>
        <div
          [routerLink]="['/course']"
          [queryParams]="{ categories: list.id }"
          class="cursor-pointer border hover:bg-surface-100 transition-all border-surface-300 m-2 p-2 md:p-4 text-center duration-300"
        >
          <a class="font-medium text-center"
            ><span class="select-none text-sm md:text-base">{{
              list.name
            }}</span></a
          >
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div *ngIf="userId && userId > 0 && recommendations" class="py-6">
    <h3 class="text-lg md:text-2xl font-bold pt-5 md:text-left text-center">
      Top Recommended Courses
    </h3>
    <div
      class="sm:grid flex flex-col justify-center p-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 lg:gap-1 my-5"
    >
      <div
        *ngFor="let course of recommendations"
        class="flex gap-2 items-start hover:bg-gray-200 transition duration-300 hover:underline sm:p-2"
        [routerLink]="['/course-detail', course.url]"
      >
        <div>
          <img
            [alt]="course.course_title"
            class="w-12 h-6"
            [src]="course.image"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <a class="font-semibold text-xs truncate">{{
              cutText(course.course_title, 30)
            }}</a>
            <span class="text-gray-400 text-xs">Instructor Name</span>
            <div class="flex items-center gap-1 text-xs">
              <span class="font-bold text-red-500"
                >{{ course.course_rating }}.0</span
              >
              <span class="text-red-500">{{
                getStars(course.course_rating)
              }}</span>
              <span>({{ course.num_reviews }})</span>
            </div>
            <b class="py-1 text-xs"><u></u>{{ course.price | number }} $</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
