<div class="my-10 max-w-7xl mx-auto overflow-hidden py-6">
  <h3
    class="font-semibold text-lg md:text-xl lg:text-2xl lg:font-bold my-2 mb-6 text-center md:text-left"
  >
    The field to study next
  </h3>
  <div class="card">
    <p-carousel
      [value]="lists"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="5000"
      [showIndicators]="false"
    >
      <ng-template let-list #item>
        <div
          [routerLink]="['/course']"
          [queryParams]="{ categories: list.id }"
          class="cursor-pointer border hover:bg-surface-100 transition-all border-surface-300 m-2 p-2 md:p-4 text-center duration-300"
        >
          <a class="font-medium text-center"
            ><span class="select-none text-sm md:text-base">{{
              list.name
            }}</span></a
          >
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div *ngIf="userId && userId > 0 && recommendations" class="py-6">
    <h3 class="text-lg md:text-2xl font-bold pt-5">Top Recommended Courses</h3>
    <div class="grid grid-cols-5 gap-5 my-5">
      <div
        *ngFor="let course of recommendations"
        class="flex gap-2 items-start"
      >
        <div class="col-span-3">
          <img [alt]="course.course_title" class="w-32" [src]="course.image" />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <a
              class="font-semibold text-xs hover:underline"
              [routerLink]="['/course-detail', course.url]"
              >{{ course.course_title }}</a
            >
            <span class="text-gray-400 text-xs">Instructor Name</span>
            <div class="flex items-center gap-1 text-xs">
              <span class="font-bold text-red-500"
                >{{ course.course_rating }}.0</span
              >
              <span class="text-red-500">{{
                getStars(course.course_rating)
              }}</span>
              <span>({{ course.num_reviews }})</span>
            </div>
            <b class="py-1 text-xs"><u></u>{{ course.price | number }} $</b>
            <p-tag
              severity="success"
              value="Recently Updated"
              class="w-fit opacity-60 !text-xs"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
