<div class="my-10 max-w-7xl mx-auto overflow-hidden">
  <h3 class="text-2xl font-bold my-2 mb-6">Lĩnh vực sẽ học tiếp theo</h3>
  <div class="card">
    <p-carousel
      [value]="lists"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="5000"
      [showIndicators]="false"
    >
      <ng-template let-list #item>
        <div
          class="cursor-pointer border hover:bg-surface-100 transition-all border-surface-300 m-2 p-4 text-center duration-300"
        >
          <a href="#" class="font-medium text-center w-full"
            ><span class="select-none">Danh muc: {{ list.value }}</span></a
          >
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <h3 class="text-2xl font-bold pt-5">Các khóa học hàng đầu về Tiếng Việt</h3>
  <div class="grid grid-cols-5 gap-5 my-5 py-6">
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
            <p-tag
              severity="success"
              value="Đã cập nhật gần
            đây"
              class="w-fit opacity-60 !text-xs"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex gap-2 items-start">
        <div class="col-span-3">
          <img
            alt="Card"
            class="w-32"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </div>
        <div class="p-0">
          <div class="flex flex-col justify-between text-xs">
            <p class="font-semibold text-xs">
              LLM Engineering: Master AI, Large Language Models &
            </p>
            <span class="text-gray-400 text-xs">Qui Kiet</span>
            <div class="flex items-centergap-1 text-xs">
              <span class="font-bold text-red-500">5.0</span>
              <span class="text-red-500">★★★★★</span> (12)
            </div>
            <b class="py-1 text-xs"><u>đ</u>399,000</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
